@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.sign-in {
  height: 100%;

  &__background-image {
    position: relative;
    z-index: -10;
    width: 100%;
    height: 702px;
    min-height: rem(570);
    object-fit: cover;
  }

  &__container {
    @include container;
  }

  $card-width: rem(380);

  &__card {
    position: absolute;
    top: rem(242);
    left: calc(50% - (#{$card-width} / 2));
    width: $card-width;

    @media screen and (max-width: $phoneWidth) {
      right: 0;
      left: 0;
      max-width: $smPhoneWidth;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
