@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.sign-in {
  &__block {
    min-height: 540px;

    @media screen and (max-width: $phoneWidth) {
      min-height: auto;
    }
  }

  &__background-image {
    position: relative;
    z-index: -10;
    width: 100%;
    height: auto;
    margin-top: rem(-72);
  }

  $card-width: rem(380);

  &__sign-in-card {
    position: absolute;
    top: rem(242);
    left: calc(50% - (#{$card-width} / 2));
    width: $card-width;

    @media screen and (max-width: $smTableWidth) {
      position: static;
    }

    @media screen and (max-width: $phoneWidth) {
      width: 100%;
    }

    &_block {
      display: flex;
      justify-content: center;
    }
  }
}
