mixin dropdown-menu(items)
  each item, key in items
    .dropdown__menu-option(class = key)
      p.dropdown__item= item.name
      .dropdown__item-controls.js-dropdown__item-controls
        button.dropdown__button-decrement.js-dropdown__button-decrement(
          tabindex = "0"
          class = item.class
          data-dd-action = "decrement"
          type = "button"
        )

        input.dropdown__counter.js-dropdown__counter(
          tabindex = "-1"
          name = item.vName
          value = item.counter || 0
        )

        button.dropdown__button-increment(
          tabindex = "0"
          data-dd-action = "increment"
          type = "button"
        )

mixin dropdown(params = {})
  -
    const {
      leftCaption = 'гости',
      rightCaption = '',
      type = 'dropdown-guests',
      idPostfix = '-changed-example',
      selectionText = '3 гостя',
      expMenuHidden = 'true',
      formPart = 'false',
      cleanButtonVisible = 'true',
    } = params

  - menuHidden = expMenuHidden === 'true' ? 'dropdown__menu_hidden' : ''

  .dropdown(class = `js-${type}`)
    .dropdown__caption
      h3.dropdown__caption_positon_left= leftCaption
      if (rightCaption)
        h3.dropdown__caption_positon_right= rightCaption

    .dropdown__body.js-dropdown__body
      .dropdown__body-top.js-dropdown__body-top(
        data-dd-action = "showHide"
        tabindex = "0"
      )
        p.dropdown__selection-text.js-dropdown__selection-text(
          data-dd-action = "showHide"
        )= selectionText

        .dropdown__expand-button(
          data-dd-action = "showHide"
        ) expand_more

      .dropdown__menu.js-dropdown__menu(class = menuHidden)

        if (type == "dropdown-options")
          -
            items = {
              'item1': { name: 'Спальни', vName: 'bedrooms' },
              'item2': { name: 'Кровати', vName: 'beds' },
              'item3': { name: 'Ванные комнаты', vName: 'bathrooms' },
            };

          if (idPostfix == '-changed-example')
            -
              items = {
                'item1': { name: 'Спальни', vName: 'bedrooms', counter: '2', class: 'dark' },
                'item2': { name: 'Кровати', vName: 'beds', counter: '2', class: 'dark' },
                'item3': { name: 'Ванные комнаты', vName: 'bathrooms' },
              };

        if (type == 'dropdown-guests')
          -
            items = {
              'item1': { name: 'Взрослые', vName: 'adults' },
              'item2': { name: 'Дети', vName: 'childs' },
              'item3': { name: 'Младенцы', vName: 'babies' },
            };

          if (idPostfix == '-changed-example')
            -
              items = {
                'item1': { name: 'Взрослые', vName: 'adults', counter: '2', class: 'dark' },
                'item2': { name: 'Дети', vName: 'childs', counter: '1', class: 'dark' },
                'item3': { name: 'Младенцы', vName: 'babies' },
              };

        //- form(action = 'change-me')
        if (formPart === 'true')
          +dropdown-menu(items)
        else
          form(action = 'change-me')
            +dropdown-menu(items)

        //- dropdown buttons for dropdown-guests
        if (type == 'dropdown-guests')
          .dropdown-guests__buttons
            if (cleanButtonVisible == 'true')
              - cleanButtonClass = 'dropdown-guests__button-clean_visible'

            button.dropdown-guests__button-clean.js-dropdown-guests__button-clean(
              tabindex = "0"
              class = cleanButtonClass
              data-dd-action = "clean"
              type = "button"
            ) очистить

            button.dropdown-guests__button-apply.js-dropdown-guests__button-apply(
              tabindex = "0"
              data-dd-action = "apply"
              type = "button"
            ) применить
