- var h1_fontSize= 24
- var h2_fontSize= 19
- var h3_fontSize= 12
- var Body_fontSize= 14

//- types block
mixin type(tagName, params)

  - var textTransform = none
  - var typeDescOpacity= 1
  - var tagDescFontWeight= 700
  - var tagDescFontFamily= 'Quicksand'


  if tagName == 'h1'
    - var fontSize= h1_fontSize
    - var typeDescLineHeight= 30

  else if tagName == 'h2'
    - var fontSize= h2_fontSize
    - var typeDescLineHeight= 24

  else if tagName == 'h3'
    - var fontSize= h3_fontSize
    - var tagDescFontFamily= 'Montserrat'
    - var typeDescLineHeight= 15
    - var textTransform= 'uppercase'

  else
    - var fontSize= Body_fontSize
    - var tagDescFontFamily= 'Montserrat'
    - var tagDescFontWeight= 400
    - var typeDescLineHeight= 24
    - var typeDescOpacity= .75


  .type__tagDescription(style= 'font-size: '+fontSize+'px; font-family: '+tagDescFontFamily+'; font-weight: '+tagDescFontWeight+'; text-transform: '+textTransform+'; opacity: '+typeDescOpacity+'; line-height: '+typeDescLineHeight+'px')= params.text