mixin type(tagName, tagDescription, fontSize, tagDescFontFamily, tagDescFontWeight, typeDescLineHeight, textTransform, tagDescOpacity)
  .types-block(style= 'line-height: '+typeDescLineHeight+'px')
    .type__description.flex-row(style= 'font-size: '+fontSize+'px')
      .type__tagName= tagName
      .type__tagDescription(style= 'font-family: '+tagDescFontFamily+'; font-weight: '+tagDescFontWeight+'; text-transform: '+textTransform+'; opacity: '+tagDescOpacity+';')= tagDescription

.types
  +type("H1",
        "This one is the sub-section or widget title",
        "24",
        "Quicksand",
        "700",
        "30",
        "none")
  +type("H2",
        "Next one is the item title inside widgets",
        "19",
        "Quicksand",
        "700",
        "24",
        "none")
  +type("H3",
        "This is a label or cta text",
        "12",
        "Montserrat",
        "700",
        "15",
        "uppercase")
  +type("Body",
        "This is the body text which is used for most of the design, like paragraphs, lists, etc.",
        "14",
        "Montserrat",
        "400",
        "24",
        "none",
        "0.75")