.types{
  margin-top: 67px;
}
.types-block{
  margin: 0 62px 49px 0;
}
.type__tagName{
  margin-right: 31px;
  display: flex;
  justify-content: flex-end;
  width: 37px;
  font-family: Montserrat;
  font-weight: normal;
  color: rgba(31, 32, 65, .25);
}
.type__tagDescription{
  width: 340px;
  color: #1F2041;
}