@import 'utils/vars.scss';
@import 'utils/mixins.scss';
@import 'utils/fonts.scss';
@import 'utils/reset.scss';

html{
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (min-width: $tableWidth) and (max-width: $desktopWidth){
    font-size: 16px;
  }
  @media screen and (min-width: $phoneWidth) and (max-width: $tableWidth){
    font-size: 15px;
  }
  @media screen and (min-width: $smPhoneWidth) and (max-width: $phoneWidth){
    font-size: 14px;
  }
}

body{
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: bold;
}

section,
.section{
  position: relative;
  padding: rem(40) 0;
  @media screen and (min-width: $tableWidth) and (max-width: $smDesktopWidth){
    padding: rem(36) 0;
  }
  @media screen and (min-width: $phoneWidth) and (max-width: $tableWidth){
    padding: rem(28) 0;
  }
  @media screen and (min-width: $smPhoneWidth) and (max-width: $phoneWidth){
    padding: rem(20) 0;
  }
}

.wrapper{
  max-width: 1440px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1160px;
  flex-direction: row;
  width: 100%;
  flex: 0 0 auto;

  @media screen and (max-width: $desktopWidth){
    padding: 0 $desktopWidthPadding;
  }
}

//flexbox+
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-row-reverse{
  display: flex;
  flex-direction: row-reverse;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-column-reverse{
  display: flex;
  flex-direction: column-reverse;
}
.justify-content-between{
  display: flex;
  justify-content: space-between;
}
//flexbox-

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: rem(24);  /* Preferred icon size 24px*/
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

// TODO добавить стили для types.pug
h3 {
  color: $DarkShade100;
  font-family: $secondFont;
  font-size: rem(12);
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: $DarkShade50;
  &:hover {
    font-weight: bold;
  }
}