@import 'utils/vars.scss';
@import 'utils/mixins.scss';
@import 'utils/fonts.scss';
@import 'utils/reset.scss';

html{
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (min-width: $tableWidth) and (max-width: $desktopWidth){
    font-size: 16px;
  }
  @media screen and (min-width: $phoneWidth) and (max-width: $tableWidth){
    font-size: 15px;
  }
  @media screen and (min-width: $smPhoneWidth) and (max-width: $phoneWidth){
    font-size: 14px;
  }
}

body{
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  //сглаживание шрифтов+
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //сглаживание шрифтов (safari)-
}

section,
.section{
  position: relative;
  padding: 40px 0;
  @media screen and (min-width: $tableWidth) and (max-width: $smDesktopWidth){
    padding: 36px 0;
  }
  @media screen and (min-width: $phoneWidth) and (max-width: $tableWidth){
    padding: 28px 0;
  }
  @media screen and (min-width: $smPhoneWidth) and (max-width: $phoneWidth){
    padding: 20px 0;
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

//flexbox+
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-row-reverse{
  display: flex;
  flex-direction: row-reverse;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-column-reverse{
  display: flex;
  flex-direction: column-reverse;
}
//flexbox-