include ../../cards/date-picker/date-picker

mixin dropdown-date(params = {})
  -
    const {
      startDateCaption = 'прибытие',
      endDateCaption = 'выезд',
      startDefaultDate = '',
      endDefaultDate = '',
    } = params

  .dropdown-date.js-dropdown-date
    .dropdown-date__item
      .dropdown-date__caption
        h3= startDateCaption

      .dropdown-date__input-item
        input.dropdown-date__input.js-start-date(
          name = "start-date"
          tabindex = "0"
          type = "text"
          placeholder = "ДД.ММ.ГГГГ"
          readonly = ""
        )
        span.dropdown-date__expand-button expand_more

    .dropdown-date__item
      .dropdown-date__caption
        h3= endDateCaption

      .dropdown-date__input-item
        input.dropdown-date__input.js-end-date(
          name = "end-date"
          tabindex = "0"
          type = "text"
          placeholder = "ДД.ММ.ГГГГ"
          readonly = ""
        )
        span.dropdown-date__expand-button expand_more

  //- .dropdown-date
  .dropdown-date__date-picker.js-dropdown-date__date-picker.dropdown-date__date-picker_hidden
    +date-picker()

//- example
//- +dropdown-date({
//-   startDateCaption: "date dropdown",
//-   endDateCaption: "date dropdown",
//- })
