@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.dropdown-date {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  &__block {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
  }

  &__caption {
    margin-bottom: $inputCapMarBottom;
  }

  &__input-block {
    position: relative;
  }

  &__input {
    display: flex;
    flex-direction: column;
    padding: rem(12) rem(10) rem(11) rem(13);
    color: $DarkShade75;
    text-transform: uppercase;
    cursor: pointer;
    caret-color: transparent;

    @media screen and (max-width: $phoneWidth) {
      padding-right: 2vw;
      padding-left: 2vw;
      font-size: 3.5vw;
    }
  }

  &__expand-button {
    position: absolute;
    top: rem(10);
    right: 8%;
    width: rem(20);
    color: $DarkShade50;
    cursor: pointer;

    @media screen and (max-width: $phoneWidth) {
      top: 20%;
      right: 5%;
    }
  }

  &__date-picker {
    position: absolute;
    z-index: 20;
    margin-top: rem(7);

    @media (max-width: $phoneWidth) {
      max-width: 300px;
    }

    &_hidden {
      display: none;
    }
  }
}

// common input__style
.input__style {
  width: 100%;
  font-family: $secondFont;
  border: rem(1) solid $DarkShade25;
  border-radius: $BorderRadius;
}
