@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.checkbox-buttons {
  display: flex;
  flex-direction: column;

  &__caption {
    margin-bottom: rem(16);
  }
}

//- styles for checkbox-buttons__expandable-list
.checkbox-buttons__expandable-list {
  margin-bottom: rem(9);

  &:focus {
    color: $DarkShade75;
    font-weight: bold;
  }

  &-caption {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &-text {
    &::selection {
      background: transparent;
    }
  }

  &-expand-more {
    @include material-icons;

    margin: 0 rem(9) 0 0;

    &::selection {
      background: transparent;
    }
  }

  &-expand-more-rotate {
    transform: rotate(180deg);
  }
}
