@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.checkbox-buttons {
  display: flex;
  flex-direction: column;
  width: rem(230);

  &__caption {
    margin-bottom: rem(16);
  }

  &__input {
    display: flex;
    margin-bottom: rem(11);
  }

  &__text {
    color: $DarkShade50;
    font-family: $secondFont;
    line-height: rem(18);
    cursor: pointer;
  }
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: flex-start;
  user-select: none;

  &::before {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: flex-start;
    width: rem(20);
    height: rem(20);
    margin-right: rem(10);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border: rem(1) solid $DarkShade25;
    border-radius: rem(4);
    cursor: pointer;
    content: '';
  }
}

.custom-checkbox:checked + label::before {
  background-image: url("/assets/img/checkbox-vector.svg");
  background-size: rem(12) rem(12);
  border-color: $purple;
}

.display-none {
  display: none;
}

//- styles for expandable-checkbox-list
.expandable-checkbox-list {
  margin-bottom: rem(12);

  &__caption {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__text {
    &::selection {
      background: transparent;
    }
  }

  &__expand-more {
    margin: rem(-4) rem(8) rem(0) rem(0);

    &::selection {
      background: transparent;
    }
  }

  &__expand-more-rotate {
    transform: rotate(180deg);
  }
}
