include ../like-button/like-button

mixin comment(params = {})
  -
    const {
      imageName = '',
      userName = '',
      commentDate = '',
      feedbackText = '',
      likeBtnChecked = '',
      likeBtnText = '0',
    } = params

  .comment
    .comment__user
      img.comment__user-photo(
        src = `./assets/img/${imageName}`,
        alt = "avatar",
        loading = "lazy",
      )

      .comment__user-info
        .comment__user-name= userName
        .comment__comment-date= commentDate

    .comment__feedback
      .comment__feedback-like
        +like-button({
          likeBtnChecked: likeBtnChecked,
          likeBtnText: likeBtnText,
        })
      .comment__feedback-text= feedbackText


//- example
//- +comment({
//-   imageName: "avatar.jpg",
//-   userName: "Мурад Сарафанов",
//-   commentDate: "5 дней назад",
//-   feedbackText: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
//-   likeBtnChecked: "checked",
//-   likeBtnText: "12",
//- })
