@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

$toggleSize: rem(10);

.toggle {
  display: flex;
  align-items: center;
}

.toggle__caption {
  margin-bottom: rem(15);
}

.toggle__text {
  margin-left: rem(9);
  color: $DarkShade75;
  font-family: $secondFont;
}

.toggle__button {
  width: $toggleSize*4;
  height: $toggleSize*2;
  background: url('./radio-checked.svg') no-repeat;
  background-position: 10% 50%;
  background-size: 34%;
  border: $toggleSize/10 solid $purple;
  border-radius: $toggleSize;
  cursor: pointer;
  filter: grayscale(100%);
  appearance: none;

  &:focus + .toggle__text {
    color: $DarkShade75;
    font-weight: bold;
    text-shadow: $TabindexShadow;
  }
}

.toggle__button:checked {
  background-position: 90% 50%;
  filter: grayscale(0);
}
