mixin toggle(params)
  if (params.leftCaption)
    h3.toggle__caption= params.leftCaption
  .toggle
    input.toggle__button.js-toggle__button(type="checkbox" checked=params.toggleStatus name=params.toggleName)
    label.toggle__text #{params.toggleBtnText}


//- example
//- +toggle({ leftCaption:   "toggle",
//-           toggleBtnText: "Получать спецпредложения",
//-           toggleName:    "someName",
//-           toggleStatus:  "checked"})

//- +toggle({ toggleBtnText: "Получать спецпредложения",
//-           toggleName:    "specialOffers",
//-         })