mixin toggle(params = {})
  -
    const {
      leftCaption = '',
      toggleBtnText = 'Получать спецпредложения',
      isChecked = '',
      toggleName = 'specialOffers',
      toggleId = 'toggle',
    } = params

  .toggle
    if (leftCaption)
      h3.toggle__caption= leftCaption
    .toggle-body
      if (isChecked === 'true')
        input.toggle-button.js-toggle__button(
          id = toggleId,
          type = "checkbox"
          checked = isChecked
          name = toggleName
        )
      else
        input.toggle-button.js-toggle__button(
          id = toggleId,
          type = "checkbox"
          name = toggleName
        )

      label.toggle-text(for = toggleId) #{toggleBtnText}

//- example
//- +toggle({
//-   leftCaption: "toggle",
//-   toggleBtnText: "Получать спецпредложения",
//-   toggleName: "someName",
//-   isChecked: "checked",
//-   toggleId: "toggle-id-name-",
//- })

//- +toggle({
//-   toggleBtnText: "Получать спецпредложения",
//-   toggleName: "specialOffers",
//-   toggleId: "toggle-id-name-",
//- })