include ../../form-elements/buttons/buttons.pug

mixin header(loginStatus)
  .header.hf-bg-color
    .container.header__container
      .header__burger-logo
        include  header_logo/header_logo.pug
        +header_logo()
        //- label for #header__menu-checkbox input
        label.material-icons.header__burger(for='header__menu-checkbox', onclick='') menu

      //- navigation menu
      //- hidden checkbox for burger label
      input#header__menu-checkbox(type='checkbox')
      nav.header__nav(role='navigation')
        ul.header__nav-ul.header__expand-menu
          li.header__nav-li
            a.header__nav-link.header__nav-link_active(href='change-me-link') О нас
          //- css dropdown
          li.header__nav-li.header__nav-dropdown.header__nav-link Услуги
              //- used material icons font
              span.material-icons expand_more
              .header__nav-dropdown-content.header__shadow
                a.header__dropdown-link(href="change-me-amenity-1") Услуга 1
                a.header__dropdown-link(href="change-me-amenity-2") Услуга 2
                a.header__dropdown-link(href="change-me-amenity-3") Услуга 3
          //- css dropdown end
          li.header__nav-li
            a.header__nav-link(href='change-me-link') Вакансии
          li.header__nav-li
            a.header__nav-link(href='change-me-link') Новости

          //- css dropdown
          li.header__nav-li.header__nav-dropdown.header__nav-link Соглашения
              //- used material icons font
              span.material-icons expand_more
              .header__nav-dropdown-content.header__shadow
                a.header__dropdown-link(href="change-me-agreement-1") Соглашение 1
                a.header__dropdown-link(href="change-me-agreement-2") Соглашение 2
                a.header__dropdown-link(href="change-me-agreement-3") Соглашение 3
          //- css dropdown end

        //- authorization block
        .header__expand-menu.header__shadow
          if loginStatus == 'authorized'
            .header__authorized
              - var userName = 'Юлий Цезарь'
              li.header__nav-li #{userName}
          else
            .header__notAuthorized
              .header__auth-buttons-padding
                +button({link:"sign-in.html", value:"Войти", mod: ["bordered","small"]})
              .header__auth-buttons-padding
                +button({link:"registration.html", value:"Зарегистрироваться", mod: ["small"]})
        //- authorization block end
      //- navigation menu end
