@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.header {
  display: flex;
  align-items: center;
  background-color: $default-color;
  height: 72px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.header__nav-ul {
  display: flex;
  justify-content: space-between;
  width: 446px;
  line-height: rem(17);
}
.header__nav-li {
  font-family: $secondFont;
  font-weight: normal;
  line-height: rem(25);
  color: $DarkShade50;
  cursor: pointer;
  &:hover {
    color: $DarkShade75;
    font-weight: bold;
  }
}
.header__nav-li-active {
  font-family: $secondFont;
  font-weight: bold;
}
.header__nav-link {
  display: flex;
  justify-content: center;
  width: 100%;
  color: $DarkShade75;
}


.header__authorized {
  display: flex;
  justify-content: flex-end;
  width: 120px;
  margin-left: 21px;
  border-left: 1px solid #f4f3f6;
}
.header__notAuthorized {
  display: flex;
  justify-content: flex-end;
  margin-left: 21px;
}
.header__auth-buttons-padding:last-child {
  margin-left: 21px;
}
.expand-menu {
  display: -webkit-box;
  flex-direction: row;
}
#menu-checkbox {
  display: none;
}

/* dropdown */
.header__nav-dropdown {
  position: relative;
  display: inline-block;
  &:hover .header__nav-dropdown-content {
    display: block;
  }
}
.header__nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: $default-color;
}

.header__dropdown-link {
  display: inline-block;
  justify-content: center;
  color: $DarkShade75;
  font-weight: normal;
  background: $default-color;
  width: 20vw;
  padding: 0 rem(20);
}
.header__nav-dropdown-content,
.header__dropdown-link:hover {
  background: $menu-hover-color;
  font-weight: bold;
}
/* dropdown end */

/* adaptive header */
.header__container {
  height: 40px;
  z-index: 1;
}
.burger {
  display: none;
  font-size: rem(40);
  color: $DarkShade50;
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  .header__authorized {  
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: flex-start;
    margin-left: 0;
  }
  .header__notAuthorized {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .header__authorized,
  .header__notAuthorized {
    align-items: center;
    width: 100vw;
  }
  .header__shadow {
    box-shadow: 0px 8px 7px 0px rgba(0,0,0,0.2);
  }
  .header__container {
    display: flex;
    flex-direction: column;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    margin-left: -$desktopWidthPadding;
  }
  .expand-menu {
    display: none;
    background: $default-color;
  }

  .header__nav-ul {
    width: 100%;
  }
  .header__nav-li {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    &:hover {
      background: $menu-hover-color;
    }
  }
  .header__nav-dropdown-content {
    width: 100%;
    text-align: center;
  }
  .header__dropdown-link {
    width: 100%;
  }

  .burger {
    display: block;
    justify-content: flex-end;
  }
  .burger__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #menu-checkbox:checked + nav[role='navigation'] .expand-menu {
    display: block;
  }

  .header__auth-buttons-padding {
    padding: 10px 0;
  }

  .header__auth-buttons-padding:last-child {
    margin-left: 0;
  }
} //- end @media screen and (max-width: 1024px)
/* adaptive header end */