mixin color(colorName, colorValue, backgroundColor, opacityColor)
  .color
    if (opacityColor)
      .color__sample(style= "background: "+backgroundColor+"; opacity: "+opacityColor+"")
    else
      .color__sample(style= "background: "+backgroundColor+";")

    .color__description
      h2.color__name= colorName
      p.color__code= colorValue
