@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.colors {
  width: rem(269);
}

.color {
  &-block {
    display: flex;
    flex-direction: row;
    margin-bottom: rem(20);
  }

  &__sample {
    width: rem(70);
    height: rem(70);
    left: rem(150);
    top: rem(145);
    border-radius: rem(6);
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: rem(8) 0 0 rem(40);
    font-family: $mainFont;
    color: #1F2041;
    font-weight: bold;
    font-size: rem(19);
    line-height: rem(29);
  }

  &__colorName {
    font-weight: bold;
  }

  &__colorCode {
    font-family: $mainFont;
    font-weight: normal;
    font-size: rem(19);
    margin-top: rem(6);
  }

}
