@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.registration {
  &__background-image {
    position: relative;
    z-index: -10;
    width: 100%;
    margin-top: rem(-72);
  }

  &_block {
    display: flex;
    justify-content: center;
  }

  $card-width: rem(380);

  &__registration-card {
    position: absolute;
    top: rem(90);
    left: calc(50% - (#{$card-width} / 2));
    width: $card-width;

    @media screen and (max-width: $phoneWidth) {
      left: 0;
      width: 100%;
    }

    @media screen and (max-width: $smTableWidth) {
      position: static;
    }

    &_block {
      display: flex;
      justify-content: center;
    }
  }
}
