@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.icon-text-list {
  display: flex;
  flex-direction: row;
  margin-bottom: rem(19);
  border-bottom: rem(1) solid $DarkShade25;

  &:last-child {
    margin-bottom: 0;
  }

  &__wrapper {
    width: rem(280);
  }

  &__icon {
    font-size: rem(48);
    background: $primaryGradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  //- text-block
  &__text-block {
    margin-left: rem(10);
    color: $DarkShade75;
    font-size: rem(14);
    font-family: $secondFont;
  }

  &__caption {
    margin-top: rem(4);
    margin-bottom: rem(5);
    color: $DarkShade75;
    font-weight: bold;
    font-size: rem(14);
    text-transform: none;
  }

  &__text {
    margin-bottom: rem(21);
    font-weight: normal;
  }
  //- text-block end
}
