@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.icon-text-list {
  display: flex;
  flex-direction: column;

  &__wrapper {
    width: rem(280);
    margin-top: rem(1);
  }

  &__li {
    display: flex;
    flex-direction: row;
    margin-bottom: rem(19);
    border-bottom: rem(1) solid $DarkShade10;

    &:nth-child(3) {
      margin-bottom: 0;
      border-bottom: transparent;
    }
  }

  &__icon {
    @include material-icons;

    color: transparent;
    font-size: rem(48);
    background: $primaryGradient;
    background-clip: text;
  }

  &__content {
    margin-left: rem(10);
    color: $DarkShade75;
    font-size: rem(14);
    font-family: $secondFont;
  }

  &__caption {
    margin-top: rem(4);
    margin-bottom: rem(5);
    color: $DarkShade75;
    font-weight: bold;
    font-size: rem(14);
    text-transform: none;
  }

  &__text {
    margin-bottom: rem(21);
    font-weight: normal;
  }
}
