mixin comments-block(params)
  .comments-block
    .comments-block__user
      img.comments-block__user_photo(src="./assets/img/"+params.imageName, alt="alt text")
      
      .comments-block__user_info
        .comments-block__user_name= params.userName
        .comments-block__comment-date= params.commentDate

    .comments-block__feedback
      .comments-block__feedback_like
        include ../like-button/like-button
        +like-button({likeBtnId:     params.likeBtnId,
                      likeBtnStatus: params.likeBtnStatus,
                      likeBtnText:   params.likeBtnText,
                    })
      .comments-block__feedback_text= params.feedbackText


//- example

//- include ../components/ui-kit/form-elements/comments-block/comments-block
//- .room-details__comments-block_position
//-   +comments-block({ imageName:     'avatar.jpg',
//-                     userName:      'Мурад Сарафанов',
//-                     commentDate:   '5 дней назад',
//-                     feedbackText:  'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
//-                     likeBtnId:     'likeBtnId-1',
//-                     likeBtnStatus: 'checked',
//-                     likeBtnText:   '12',
//-                   })