@import '../../../../../assets/scss/utils/vars.scss';
@import '../../../../../assets/scss/utils/mixins.scss';

.dropdown-guests {
  // dropdown-guests--buttons.scss
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: rem(18) rem(7) rem(5) rem(7);
  }

  &__button-clean {
    visibility: hidden;

    &_visible {
      visibility: visible;
    }
  }

  &__button-clean,
  &__button-apply {
    color: $purple;
    font-weight: bold;
    font-size: rem(12);
    font-family: $secondFont;
    text-transform: uppercase;
    background: $defaultColor;
    cursor: pointer;

    &:focus {
      color: $DarkShade75;
    }
  }
  // dropdown-guests--buttons.scss
}
