@import '../../../../../assets/scss/utils/vars.scss';
@import '../../../../../assets/scss/utils/mixins.scss';
@import '../dropdown.scss';

.dropdown-guests {
  // dropdown-guests--buttons.scss
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: rem(18) rem(1) rem(5) rem(7);
  }

  &__button_clean,
  &__button_apply {
    color: $purple;
    font-weight: bold;
    font-size: rem(12);
    font-family: $secondFont;
    text-transform: uppercase;
    background: $default-color;
    cursor: pointer;

    &:focus {
      color: $DarkShade75;
      text-shadow: $TabindexShadow;
    }
  }

  &__button_clean {
    visibility: hidden;

    &_show {
      visibility: visible;
    }
  }
  // dropdown-guests--buttons.scss
}

.dropdown__block_top:focus {
  box-shadow: $TabindexShadow;
}
