@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.bullet-list {
  &__caption {
    margin-bottom: rem(14);
  }

  &__ul {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: row;
    margin-bottom: rem(10);
  }

  &__li-marker {
    display: inline-block;
    width: rem(11);
    height: rem(10);
    margin: rem(6) rem(11) 0 0;
    background: $DarkShade25;
    border-radius: rem(5);
  }

  &__li {
    display: inline-block;
    width: 100%;
    color: $DarkShade75;
    font-size: rem(14);
    font-family: $secondFont;
    line-height: rem(24);
    list-style-type: none;
  }
}
