mixin bullet-list(params = {})
  -
    const {
      caption = '',
      options = [
        "Нельзя с питомцами",
        "Без вечеринок и мероприятий",
        "Время прибытия — после 13:00,\n а выезд до 12:00",
      ]
    } = params

  .bullet-list
    if (caption)
      h3.bullet-list__caption= caption

    ul.bullet-list__ul
      each val in options
        li.bullet-list__li #{val}
