@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.bullet-list {
  &__caption {
    @include h3-style;

    margin-bottom: rem(14);
  }

  &__ul {
    display: flex;
    flex-direction: column;
  }

  &__li {
    position: relative;
    left: 20px;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    color: $DarkShade75;
    font-size: rem(14);
    font-family: $secondFont;
    line-height: rem(24);
    white-space: pre-line;

    &::before {
      position: absolute;
      top: 7px;
      left: -20px;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      background-color: $DarkShade25;
      border-radius: 50%;
      content: '';
    }
  }
}
