.header.hf-bg-color.flex-row
  logo
    img.header__logo-img(src="./assets/img/logo.svg", alt="logo")
    img.header__logo-name(src="./assets/img/TOXIN.png", alt="logo")
  //- nav
  //-   ul.flex-row
  //-     li О нас
  //-     li Услуги
  //-     li Вакансии
  //-     li Новости
  //-     li Соглашения
  //- .nav-buttons

