@import '../../../../assets/scss/utils/vars.scss';

.text-field__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: $inputCapMarBottom;
}
.text-field__caption-left {
  display: flex;
  justify-self: flex-start;
}
.text-field__caption-right {
  display: flex;
  justify-content: flex-end;
  font-weight: normal;
  color: $DarkShade50;
}

//common input__style
.input__style {
  border: 1px solid $DarkShade25;
  border-radius: $inputBorderRadius;
  width: 100%;
  font-family: $secondFont;
}

.text-field__input {
  padding: 13px 10px 12px 15px;
  color: $DarkShade75;
  &::placeholder {
    color: $DarkShade25;
  }
  &:hover {
    border-color: $DarkShade50;
    &::placeholder {
      color: $DarkShade75;
    }
  }
}
.like-hover {
  border-color: $DarkShade50;
  &::placeholder {
    color: $DarkShade75;
  }
}
