mixin text-field(params)
  - hover = params.hoverStyle === 'true' ? 'text-field_hover' : ''

  .text-field(class = hover)
    .text-field__caption
      if (params.leftCaption)
        h3.text-field__caption-left= params.leftCaption

      if (params.rightCaption)
        h3.text-field__caption-right= params.rightCaption

    .text-field__input-item
      input.text-field__input(
        class = (`${hover} js-${params.inpType}`)
        type = params.inpType
        name = params.inpName
        placeholder = params.inpPlaceholder
        tabindex = "0"
        )

      if (params.isArrow == "true")
        .text-field__input_arrow-forward
          button.text-field__button.text-field-gradient-icon.arrow-forward.js-arrow-forward(
            tabindex = "0"
            type = 'submit'
          ) arrow_forward
      
//- examples
//- text-field
//- +text-field({
//-   leftCaption: "text field",
//-   rightCaption: "default",
//-   inpType: "email",
//-   inpName: "email",
//-   inpPlaceholder: "Email",
//-   hoverStyle: "true",
//- })

//- mask https://givik.ru/posts/jquery-mask-plugin-primery-ispolzovaniya
//-
//- masked text-field
//- +text-field({
//-   leftCaption: "masked text field",
//-   inpType: "date",
//-   inpName: "date",
//- })

//- subscription text field
//- +text-field({
//-   leftCaption: "subscription text field",
//-   inpType: "email",
//-   inpName: "email",
//-   inpPlaceholder: "Email",
//-   isArrow: "true",
//- })
