@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.text-field__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: $inputCapMarBottom;

  &-left {
    display: flex;
    justify-self: flex-start;
  }

  &-right {
    display: flex;
    justify-content: flex-end;
    color: $DarkShade50;
    font-weight: normal;
  }
}

//common input__style
.input__style {
  width: 100%;
  font-family: $secondFont;
  border: rem(1) solid $DarkShade25;
  border-radius: $BorderRadius;
}

.text-field__input {
  &_block {
    position: relative;
  }

  &_arrow-forward {
    position: absolute;
    top: rem(10);
    right: rem(8);
    // arrow color
    background: $primaryGradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    // arrow color end
  }

  padding: rem(13) rem(10) rem(12) rem(15);
  color: $DarkShade75;

  &::placeholder {
    color: $DarkShade25;
  }

  &:hover {
    border-color: $DarkShade50;

    &::placeholder {
      color: $DarkShade75;
    }
  }
}

.like-hover {
  border-color: $DarkShade50;

  &::placeholder {
    color: $DarkShade75;
  }
}
