include ../custom-checkbox/custom-checkbox.pug

mixin rich-checkbox-buttons(params = {})
  -
    const {
      caption = 'доступность',
      items = [
        {
          value: "wide-corridor",
          label: "Широкий коридор",
          text: "Ширина коридоров в номере\n не менее 91 см.",
        },
        {
          value: "assistant-for-the-disabled",
          label: "Помощник для инвалидов",
          text: "На 1 этаже вас встретит специалист\n и проводит до номера",
        }
      ]
    } = params

  .rich-checkbox-buttons
    h3.rich-checkbox-buttons__caption= caption

    each item in items

      +custom-checkbox({
        rich: 'true',
        label: item.label,
        text: item.text,
        value: item.value,
      })

//- example
//- +rich-checkbox-buttons()
//- +rich-checkbox-buttons({ caption : "rich checkbox buttons" })
