@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.rich-checkbox-buttons__caption {
  margin-bottom: 16px;
}
.rich-checkbox-buttons__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 9px;
}
.rich-checkbox-buttons__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.rich-checkbox-buttons__input+label::before {
  position: absolute;
  content: '';
  cursor: pointer;
  display: inline-block;
  align-items: flex-start;
  width: rem(20);
  height: rem(20);
  border: 1px solid $DarkShade25;
  border-radius: rem(4);
  margin-right: rem(10);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.rich-checkbox-buttons__input:checked+label::before {
  border-color: $purple;
  background-image: url("/assets/img/chkboxvector.svg");
  background-size: rem(12) rem(12);
}
.rich-checkbox-buttons__text {
  display: flex;
}
.rich-checkbox-buttons__textblock {
  margin-left: 30px;
  font-family: $secondFont;
}
.rich-checkbox-buttons__boldtext {
  font-weight: bold;
  font-size: 14px;
  color: $DarkShade75;
  letter-spacing: 0px;
  margin-bottom: 6px;
}
.rich-checkbox-buttons__p {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: $DarkShade50;
  letter-spacing: 0px;
}
