.types{
  margin-top: 67px;
}
.types-block{
  margin: 0 62px 49px 0;
}
.type__tagName{
  margin-right: 31px;
  display: flex;
  justify-content: end;
  width: 37px;
}
.type__tagDescription{
  width: 340px;
}