@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.colorsntypes {
  padding-top: rem(7);
}
.colorsntypes__colors {
  padding-left: rem(10);
}
.colorsntypes__types {
  padding-right: rem(51);
}