extends ../../components/layouts/main

include ../../components/ui-kit/form-elements/bullet-list/bullet-list
include ../../components/ui-kit/form-elements/button/button
include ../../components/ui-kit/form-elements/checkbox-buttons/checkbox-buttons
include ../../components/ui-kit/form-elements/comment/comment
include ../../components/ui-kit/form-elements/dropdown/dropdown
include ../../components/ui-kit/form-elements/dropdown-date/dropdown-date
include ../../components/ui-kit/form-elements/filter-date-dropdown/filter-date-dropdown
include ../../components/ui-kit/form-elements/icon-text-list/icon-text-list
include ../../components/ui-kit/form-elements/like-button/like-button
include ../../components/ui-kit/form-elements/masked-text-field/masked-text-field
include ../../components/ui-kit/form-elements/pagination/pagination
include ../../components/ui-kit/form-elements/radio-buttons/radio-buttons
include ../../components/ui-kit/form-elements/range-slider/range-slider
include ../../components/ui-kit/form-elements/rate-button/rate-button
include ../../components/ui-kit/form-elements/rich-checkbox-buttons/rich-checkbox-buttons
include ../../components/ui-kit/form-elements/text-field/text-field
include ../../components/ui-kit/form-elements/toggle/toggle
include ../../components/ui-kit/logo/logo

block variables
  - title = 'BookingService Form Elements';
  - description = 'BookingService education project | Form Elements page';

block content

  +logo()

  .first-container.container

    .column-left

      .block-margin
        +text-field({
          leftCaption: 'text field',
          rightCaption: 'default',
          inpType: 'email',
          inpName: 'email',
          inpPlaceholder: 'Email',
        })

      .block-margin
        +text-field({
          leftCaption: 'text field',
          rightCaption: 'hover /focus',
          inpPlaceholder: 'This is pretty awesome',
          hoverStyle: 'true',
        })

      .block-margin
        +dropdown({
          leftCaption: 'dropdown',
          type: 'dropdown-guests',
          selectionText: 'Сколько гостей',
        })

      .block-margin.date-margin
        +masked-text-field({
          leftCaption: 'masked text field',
          inpName: 'date',
        })

      .block-margin.dropdown-date-margin
        +dropdown-date({
          startDateCaption: 'date dropdown',
          endDateCaption: 'date dropdown',
        })

      .mini-column

        .block-margin.date-dropdown-margin
          +filter-date-dropdown({
            leftCaption: 'filter date dropdown',
          })

        .block-margin.subscription-text-field-margin
          +text-field({
            leftCaption: 'subscription text field',
            inpType: 'email',
            inpName: 'email',
            inpPlaceholder: 'Email',
            isArrow: 'true',
          })


    .column-center

      .block-margin
        +checkbox-buttons({
          leftCaption: 'checkbox buttons',
          items: [
            { value: 'allow-smoke', label: 'Можно курить' },
            { value: 'allow-pet', label: 'Можно с питомцами' },
            {
              value: 'allow guests',
              label: 'Можно пригласить гостей\n (до 10 человек)',
            },
          ]
        })

      .block-margin.checkbox-buttons-margin
        +radio-buttons({ leftCaption: 'radio buttons' })

      .block-margin.toggle-block-margin
        .form-elements-toggle-margin-between
          +toggle({
            leftCaption: 'toggle',
            isChecked: 'checked',
            toggleId: 'form-elements-toggle-1',
          })

        .form-elements-toggle-margin-between
          +toggle({
            toggleId: 'form-elements-toggle-2',
          })

      .block-margin.like-buttons-margin
        h3.like-button-caption like button
        .like-buttons-direction
          .like-button-margin
            +like-button({
              leftCaption: 'like button',
              likeBtnText: '2',
            })

          +like-button({
            likeBtnChecked: 'checked',
            likeBtnText: '12',
          })

      .block-margin
        h3.rate-button-caption rate button
        .rate-buttons-items
          .rate-buttons-margin
            +rate-button()

          +rate-button({
            rateBtnName: 'rateBtnName-2',
            rateBtnId: 'rateBtnId-2',
            starsCount: '5',
          })


    .column-right

      .mini-column
        +range-slider({
          leftCaption: 'range slider',
        })

      .buttons-margin
        h3.buttons-caption buttons
        .buttons-block
          .button-margin
            +button()

          +button({ mod: ['hover'] })

        .buttons-block
          .button-margin
            +button({ mod: ['big', 'bordered'] })

          +button({ mod: ['big', 'bordered', 'hover'] })

        .buttons-block
          .button-margin.btn-mt
            +button({ mod: ['no-background'] })

          +button({ mod: ['no-background', 'no-background_hover'] })

        .buttons-block
          +button({
            mod: ['with_arrow', 'block'],
            value: 'Перейти к оплате',
          })

      .block-margin
        h3.pagination-caption pagination
        +pagination()


  .second-container.container

    .column-left

      .mini-column

        .block-margin
          +dropdown({
            leftCaption: 'dropdown',
            rightCaption: 'default',
            type: 'dropdown-options',
            selectionText: '2 спальни, 2 кровати...',
          })

        .block-margin
          +dropdown({
            leftCaption: 'dropdown',
            rightCaption: 'expanded',
            type: 'dropdown-options',
            idPostfix: '-changed-example',
            selectionText: '2 спальни, 2 кровати...',
            expMenuHidden: 'false',
          })


    .column-center

      +dropdown({
        leftCaption: 'dropdown',
        type: 'dropdown-guests',
        selectionText: 'Сколько гостей',
        expMenuHidden: 'false',
      })


    .column-right

      +dropdown({
        leftCaption: 'dropdown',
        type: 'dropdown-guests',
        idPostfix: '-changed-example',
        selectionText: '3 гостя',
        cleanButtonVisible: 'true',
        expMenuHidden: 'false',
      })

  .third-container.container

    .column-left

      .mini-column
        +checkbox-buttons({ hidden: 'true' })

        .block-margin.checkbox-buttons-expandable-list-margin
          +checkbox-buttons()

    .column-center

      .mini-column
        +rich-checkbox-buttons({
          caption : 'rich checkbox buttons',
        })

    .column-right

      .mini-column
        +bullet-list({ caption: 'bullet list' })


  .fourth-container.container

    .column-left

      +icon-text-list({
        items: [
          {
            iconName: 'insert_emoticon',
            caption: 'Комфорт',
            text: 'Шумопоглощающие стены',
          },
          {
            iconName: 'location_city',
            caption: 'Удобство',
            text: 'Окно в каждой из спален',
          },
        ]
      })

    .column-comment

      .comment-margin
        +comment({
          imageName: 'avatar.jpg',
          userName: 'Мурад Сарафанов',
          commentDate: '5 дней назад',
          feedbackText: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
          likeBtnId: 'likeBtnId-3',
          likeBtnChecked: 'checked',
          likeBtnText: '12',
        })
