@import '../../assets/scss/utils/vars.scss';
@import '../../assets/scss/utils/mixins.scss';

.first-container {
  margin-bottom: rem(74);
}

.second-container {
  margin-bottom: rem(149);
}

.third-container {
  margin-bottom: rem(68);
}

.fourth-container {
  margin-bottom: rem(111);
}

.first-container,
.second-container,
.third-container,
.fourth-container {
  @include container;
}

.column-left,
.column-center,
.column-right {
  display: flex;
  flex-direction: column;
  min-width: rem(320);
  margin-top: rem(5);
}

.column-comment {
  width: 100%;
}

.column-left {
  margin-right: rem(127);
}

.column-center {
  margin-right: rem(72);
}

.mini-column {
  width: rem(266);
}

.buttons-margin {
  margin-bottom: rem(11);
}

.block-margin {
  margin-bottom: rem(19);
}

.date-margin {
  margin-top: rem(3);
  margin-bottom: rem(41);
}

.date-dropdown-margin {
  margin-top: rem(21);
}

.subscription-text-field-margin {
  margin-top: rem(41);
}

.checkbox-buttons-margin {
  margin-top: rem(12);
}

.toggle-block-margin {
  margin-top: rem(20);
  margin-bottom: rem(7);
}

.form-elements-toggle-margin-between {
  margin-bottom: rem(14);
}

.like-buttons-margin {
  margin-top: rem(25);
}

.like-button-caption {
  @include h3-style;

  margin-bottom: rem(16);
}

.like-buttons-direction {
  display: flex;
  flex-direction: row;
}

.like-button-margin {
  margin-right: rem(10);
}

.rate-button-caption {
  @include h3-style;

  margin-top: rem(21);
  margin-bottom: rem(11);
}

.rate-buttons-items {
  display: flex;
  flex-direction: row;
}

.rate-buttons-margin {
  margin-right: rem(20);
}

.buttons-caption {
  @include h3-style;

  margin-top: rem(33);
  margin-bottom: rem(16);
}

.buttons-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: rem(29);
}

.button-margin {
  margin-right: rem(20);
}

.pagination-caption {
  @include h3-style;

  margin-bottom: rem(16);
}

.checkbox-buttons-expandable-list-margin {
  margin-top: rem(31);
  margin-bottom: rem(19);
}

.comment-margin {
  margin-top: rem(16);
}
