include ../../buttons/buttons.pug
include  header_logo/header_logo.pug

mixin header(loginStatus)
  .header.hf-bg-color
    .container
      +header_logo()
      nav.header__nav
        ul.header__nav-ul
          li.header__nav-li.header__nav-li-active О нас
          li.header__nav-li Услуги
            span.material-icons expand_more
          li.header__nav-li Вакансии
          li.header__nav-li Новости
          li.header__nav-li Соглашения
            span.material-icons expand_more
        if loginStatus == 'authorised'
          .header__notAuthorized
            - var userName = 'Юлий Цезарь'
            li.header__nav-li #{userName}
        else
          .header__authorized
            +button({link:"#", value:"Войти", mod: ["bordered","small"]})
            +button({link:"#", value:"Зарегистрироваться", mod: ["small"]})
