include ../../buttons/buttons.pug
include  header_logo/header_logo.pug

mixin header(loginStatus)
  .header.hf-bg-color
    .container#header__container
      .burger__logo
        +header_logo()
        span.material-icons.burger menu

      //- navigation menu
      //- hiden checkbox for burger
      //- input#menu-checkbox(type='checkbox')
      nav.header__nav
        //- label.toggle-button(for='menu-checkbox', data-open='Menu', data-close='Close', onclick='')
        ul.header__nav-ul.main-menu
          li.header__nav-li.header__nav-li-active О нас
          //- css dropdown
          li.header__nav-li.header__nav-dropdown Услуги
            span.material-icons expand_more
            .header__nav-dropdown-content
              p
                a.header__dropdown-link(href="change-me-usluga-1") Услуга 1
              p
                a.header__dropdown-link(href="change-me-usluga-2") Услуга 2
              p
                a.header__dropdown-link(href="change-me-usluga-3") Услуга 3
          //- css dropdown end
          li.header__nav-li Вакансии
          li.header__nav-li Новости

          //- css dropdown
          li.header__nav-li.header__nav-dropdown Соглашения
            span.material-icons expand_more
            .header__nav-dropdown-content
              p
                a.header__dropdown-link(href="change-me-soglashenie-1") Соглашение 1
              p
                a.header__dropdown-link(href="change-me-soglashenie-2") Соглашение 2
              p
                a.header__dropdown-link(href="change-me-soglashenie-3") Соглашение 3
          //- css dropdown end

        .main-menu
          //- authorisation block
          if loginStatus == 'authorised'
            .header__notAuthorized
              - var userName = 'Юлий Цезарь'
              li.header__nav-li #{userName}
          else
            .header__authorized
              .header__auth-button-padding
                +button({link:"#", value:"Войти", mod: ["bordered","small"]})
              .header__auth-button-padding
                +button({link:"#", value:"Зарегистрироваться", mod: ["small"]})
          //- authorisation block end
      //- navigation menu end
