.header{
  background-color: #000;
}
.header__nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.header__nav-ul{
  display: flex;
  justify-content: space-between;
  width: 442px;
}
.header__nav-li{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75);
}
.header__nav-li-active{
  font-family: Montserrat;
  font-weight: 700;
}
.expand_more{
  margin-left: 10px;
}

.header__authorized{
  display: flex;
  justify-content: space-between;
  width: 303px;
  margin-left: 26px;
}

.header__notAuthorized{
  display: flex;
  justify-content: flex-end;
  margin-left: 46px;
}
