@import '../../../../assets/scss/utils/vars.scss';

.header {
  display: flex;
  align-items: center;
  background-color: $default-color;
  height: 72px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.header__nav-ul {
  display: flex;
  justify-content: space-between;
  width: 446px;
  line-height: 17px;
}
.header__nav-li{
  font-family: $secondFont;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  cursor: pointer;
}
.header__nav-link {
  display: flex;
  justify-content: center;
  width: 100%;
  color: $DarkShade75;
}
.header__nav-li-active {
  font-family: $secondFont;
  font-weight: 700;
}
.header__authorized {
  display: flex;
  justify-content: space-between;
  width: 303px;
  margin-left: 21px;
}
.header__notAuthorized {
  display: flex;
  justify-content: flex-end;
  margin-left: 42px;
}
.main-menu {
  display: -webkit-box;
  flex-direction: row;
}
#menu-checkbox {
  display: none;
}

/* dropdown */
.header__nav-dropdown {
  position: relative;
  display: inline-block;
  &:hover .header__nav-dropdown-content {
    display: block;
  }
}
.header__nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: $default-color;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.header__dropdown-link {
  display: inline-block;
  justify-content: center;
  color: $DarkShade75;
  font-weight: 400;
  background: $default-color;
  width: 20vw;
  padding: 0 20px;
}
.header__nav-dropdown-content,
.header__dropdown-link:hover {
  background: $menu-hover-color;
  font-weight: 700;
}
/* dropdown end */

/* adaptive header */
.burger {
  display: none;
  font-size: 40px;
  color: $DarkShade50;
  cursor: pointer;
}
#header__container {
  height: 40px;
}

@media screen and (max-width: 1024px) {
  .header__authorized {  
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: flex-start;
    width: 100vw;
  }
  .main-menu {
    display: none;
  }
  #header__container {
    display: flex;
    flex-direction: column;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    margin-left: -$desktopWidthPadding;
  }
  .header__authorized {
    margin-left: 0;
  }
  .main-menu {
    background: $default-color;
  }
  .header__nav-ul {
    width: 100%;
  }
  .header__nav-li {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    &:hover {
      background: $menu-hover-color;
    }
  }
  .header__nav-dropdown-content {
    width: 100%;
    text-align: center;
  }
  .header__dropdown-link {
    width: 100%;
  }

  .burger__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .burger {
    display: block;
    justify-content: flex-end;
  }
  #menu-checkbox:checked + nav[role='navigation'] .main-menu {
    display: block;
  }

  .header__notAuthorized,
  .header__authorized {
    align-items: center;
  }

  .header__auth-button-padding {
    padding: 10px 0;
  }
} //- end @media screen and (max-width: 1024px)
/* adaptive header end */