.header.hf-bg-color.flex-row
  .container
    .header__logo
      img.header__logo-img(src="./assets/img/logo.svg", alt="logo")
      img.header__logo-name(src="./assets/img/TOXIN.png", alt="logo")
    nav.header__nav
      ul.header__nav-ul.flex-row
        li.header__nav-li.header__nav-li-active О нас
        li.header__nav-li Услуги
        li.header__nav-li Вакансии
        li.header__nav-li Новости
        li.header__nav-li Соглашения
    //- .nav-buttons