@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.radio-buttons__caption {
  @include h3-style;
  margin-bottom: rem(6);
}

.radio-buttons__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-top: 9px;
  margin-right: 19px;
  cursor: pointer;
}

.radio-buttons__input {
  position: absolute;
  opacity: 0;
}

.radio-buttons__radio {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: 3px;
  border: rem(1) solid $DarkShade25;
  border-radius: 50%;
}

.radio-buttons__radio::after {
  display: block;
  width: 100%;
  height: 100%;
  background: $primaryGradient;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
  content: '';
}

.radio-buttons__input:checked + .radio-buttons__radio::after {
  transform: scale(1);
}

.radio-buttons__label-text {
  font-family: $secondFont;
}
