mixin radio-buttons(params = {})
  -
    const {
      leftCaption = '',
      name = 'gender',
      items = [
        { value: 'Мужчина', isChecked: 'checked' },
        { value: 'Женщина' }
      ],
    } = params

  .radio-buttons
    if (leftCaption)
      h3.radio-buttons__caption= leftCaption

    .radio-buttons__items
      each item in items
        label.radio-buttons__label
          input.radio-buttons__input(
            type = 'radio',
            name = 'name',
            vale = item.value,
            checked = item.isChecked
          )
          .radio-buttons__radio
          .radio-buttons__label-text #{item.value}
