@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.radio-buttons__caption {
  margin-bottom: rem(6);
}

.radio-buttons__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-top: 9px;
  margin-right: 19px;
}

.radio-buttons__input {
  opacity: 0;
  position: absolute;
}

.radio-buttons__radio {
  width: 20px;
  height: 20px;
  border: rem(1) solid $DarkShade25;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 3px;
}

.radio-buttons__radio::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: $primaryGradient;
  border-radius: 50%;

  transform: scale(0);
  transition: transform 0.15s;
}

.radio-buttons__input:checked + .radio-buttons__radio::after {
  transform: scale(1);
}

.radio-buttons__label-text {
  font-family: $secondFont;
}
