mixin radio-buttons(params)
  .radio-buttons
    if (params.leftCaption)
      h3.radio-buttons__caption= params.leftCaption
    .radio-buttons__block
      each val, index in params.inpText
        p.radio-buttons__text
          input.radio-buttons__input(id= params.inpId + index, type="radio", name= params.radioButtonName, value= params.inpName[index], checked= params.inpStatus[index])
          label.radio-buttons__label(for= params.inpId + index) #{val}

//- example
//- +radio-buttons({
//-   leftCaption:     "radio buttons",
//-   radioButtonName: "radio-button",
//-   inpName:         ["man", "woman"],
//-   inpText:         ["Мужчина","Женщина"],
//-   inpStatus:       ["checked",],
//-   inpId:           "radio-button-id-name-",
//- })