@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.radio-buttons__form {
  display: flex;
  flex-direction: row;
}

.radio-buttons__text {
  margin-top: rem(13);
  margin-right: rem(20);

  &:last-child {
    margin-right: rem(0);
  }
}

$radio-button__size: 20;

.radio-buttons__input {
  position: absolute;
  z-index: 1;
  width: rem($radio-button__size);
  height: rem($radio-button__size);
  cursor: pointer;
  opacity: 0;
}

.radio-buttons__label {
  position: relative;
  display: inline-block;
  padding-left: rem(30);
  line-height: rem(18);
  cursor: pointer;
  user-select: none;

  &::before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: rem($radio-button__size);
    height: rem($radio-button__size);
    border: rem(1) solid $DarkShade25;
    border-radius: 50%;
    content: "";
  }
}

.radio-buttons__input:checked + .radio-buttons__label::before {
  display: block;
  background-image: url("/assets/img/radiochecked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  border-color: $purple;
}
