@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.cards {
  background: $backgroundColor;

  &__container {
    margin-bottom: rem(140);
  }

  &__column-1,
  &__column-2 {
    width: rem(380);
    margin-top: rem(12);
    margin-right: rem(40);
  }

  &__column-3 {
    width: rem(320);
    margin-top: rem(12);
  }

  &__registration_position {
    margin-top: rem(40);
  }

  &__login_position {
    margin-top: rem(40);
  }

  &__room-card_position {
    margin-top: rem(40);
  }
}
