@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.cards {
  background: $backgroundColor;
}
.cards-column-1,
.cards-column-2 {
  width: 380px;
  margin-top: rem(12);
  margin-right: rem(40);
}
.cards-border {
  background: #FFFFFF;
  border: rem(1) solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: rem(0) rem(0) rem(25) rgba(0, 0, 0, 0.2);
  border-radius: rem(4);
  padding: rem(38) rem(30) rem(29) rem(30);
}

.registration__block-margin {
  margin-top: rem(40);
}

.login__margin {
  margin-top: rem(40);
}