@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.cards {
  &_border {
    box-sizing: border-box;
    padding: rem(38) rem(30) rem(29) rem(30);
    background: $default-color;
    border: rem(1) solid rgba(0, 0, 0, 0.12);
    border-radius: rem(4);
    box-shadow: rem(0) rem(0) rem(25) rgba(0, 0, 0, 0.2);

    @media screen and (max-width: $phoneWidth) {
      min-width: rem(320);
      margin-left: -$phoneWidthMargin;
      padding: rem(38) rem(10) rem(29) rem(10);
    }
  }
}
