include ./slick-carousel/slick-carousel
include ../booking-caption/booking__caption
include ../feedbacks/feedbacks
include ../../form-elements/rate-button/rate-button

mixin room-card(params = {})
  -
    const {
      number = '',
      status = '',
      price = '',
      photoName = '',
      starsRate = '',
      feedbacks = '',
      link = '404.html'
    } = params

  .room-card
    .room-card__picture-container
      +slick-carousel({
        photoName: photoName,
      })

    .room-card__number-price
      +booking-caption({
        roomNumber: number,
        roomStatus: status,
        roomPrice: `${price}₽`,
        link: link
      })

    .room-card__feedback
      +rate-button({
        rateBtnName: `rateBtnName-${number}`,
        rateBtnId: `rateBtnId-${number}-`,
        starsCount: starsRate,
      })

      +feedbacks({
        number: feedbacks,
        text: 'Отзывов',
      })
