@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';
@import './slick-carousel/slick-carousel.scss';

.room-card,
.room-card__picture {
  border-radius: $BorderRadius $BorderRadius 0 0;
}

.room-card {
  box-sizing: border-box;
  width: rem(271);
  background: $default-color;

  &__picture-container {
    position: relative;
  }

  //- navigation
  &__picture-navigation {
    position: absolute;
    top: 36%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $default-color;
    opacity: 0;

    &_left,
    &_right {
      z-index: 20;
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(44);
      height: rem(44);
      cursor: pointer;
    }

    &_left {
      transform: rotate(90deg);
    }

    &_right {
      transform: rotate(-90deg);
    }
  }

  &__picture-slides {
    position: absolute;
    right: 5.5%;
    bottom: 10%;
    z-index: 20;
    display: flex;
    flex-direction: row;
  }

  $room-card__picture-slide_width: rem(8);

  &__picture-slide {
    width: $room-card__picture-slide_width;
    height: $room-card__picture-slide_width;
    margin-left: $room-card__picture-slide_width / 2;
    border: rem(1) solid $default-color;
    border-radius: $room-card__picture-slide_width / 2;
    cursor: pointer;

    &_active {
      background: $default-color;
    }
  }
  // navigation end

  &__number-price {
    margin: rem(14) rem(18) 0 rem(22);
    border-bottom: rem(1) solid $DarkShade25;
  }

  &__feedback-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: rem(3) rem(20) rem(14) rem(20);
  }
}

.number-price {
  &_font-size {
    font-size: rem(19) !important;
  }

  &_m-bottom {
    margin-bottom: rem(7) !important;
  }
}
