@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.room-card,
.room-card__picture,
.room-card__picture-block::before,
.room-card__picture-block::after {
  border-radius: $BorderRadius $BorderRadius 0 0;
}

.room-card {
  box-sizing: border-box;
  width: rem(271);
  background: $default-color;

  &__picture-container {
    position: relative;
  }
  &__picture {
    object-fit: contain;
  }

  &__picture-block {
    &::before,
    &::after {
      position: absolute;
      display: inline-block;
      content: '';
      width: rem(42);
      height: 100%;
    }

    &:hover {
      .room-card__picture-navigation {
        opacity: 1;
      }

      &::before {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0) 99.99%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      &::after {
        background: linear-gradient(
          -90deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0) 99.99%,
          rgba(255, 255, 255, 0) 100%
        );
        right: 0;
      }
    }
  }
}

//- navigation
.room-card {
  &__picture-navigation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 36%;
    color: $default-color;
    width: 100%;
    opacity: 0;

    &_left,
    &_right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(44);
      height: rem(44);
      cursor: pointer;
      z-index: 20;
    }

    &_left {
      transform: rotate(90deg);
    }
    &_right {
      transform: rotate(-90deg);
    }
  }

  &__picture-slides {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 5.5%;
    bottom: 10%;
    z-index: 20;
  }

  $room-card__picture-slide_width: rem(8);
  &__picture-slide {
    width: $room-card__picture-slide_width;
    height: $room-card__picture-slide_width;
    border: rem(1) solid $default-color;
    border-radius: $room-card__picture-slide_width / 2;
    margin-left: $room-card__picture-slide_width / 2;
    cursor: pointer;
    &_active {
      background: $default-color;
    }
  }
}
//- navigation end

.room-card {
  &__number-price {
    margin: rem(14) rem(18) 0 rem(22);
    border-bottom: rem(1) solid $DarkShade25;
  }

  &__feedback-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: rem(3) rem(20) rem(14) rem(20);
  }
}

.number-price {
  &_font-size {
    font-size: rem(19) !important;
  }

  &_m-bottom {
    margin-bottom: rem(7);
  }
}
