@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.colors-and-types {
  padding-top: rem(7);

  &__colors {
    padding-left: rem(10);
  }
  &__types {
    padding-right: rem(51);
  }
}
