@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.colors-and-types {
  padding-top: rem(7);
}
.colors-and-types__colors {
  padding-left: rem(10);
}
.colors-and-types__types {
  padding-right: rem(51);
}