@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.room-details-images {
  display: flex;
  flex: 2 1;

  @media screen and (max-width: $smTableWidth) {
    flex-direction: column;

    &__left {
      width: 100%;
      margin-bottom: rem(1);
    }

    &__right {
      width: 100%;
      height: auto;
    }

    &_size_middle {
      width: 100%;
      height: auto;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &_big-size {
    width: 100%;
  }

  &_middle-size {
    width: 100%;
  }
}

//- room-details columns
.room-details {
  &-column-1 {
    @media only screen and (max-width: 800px) {
      order: 1;
    }
  }

  &-column-2 {
    min-width: rem(380);

    @media only screen and (max-width: 800px) {
      order: -1;
      max-width: 380px;
      margin-right: auto;
      margin-bottom: rem(30);
      margin-left: auto;
    }

    @media screen and (max-width: 1130px) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &-container {
    @include container;

    margin-top: rem(67);
    margin-bottom: rem(62);
  }

  &-flex-container {
    display: flex;
    gap: rem(60);

    @media screen and (max-width: 1130px) {
      flex-wrap: wrap-reverse;
    }

    @media only screen and (max-width: 800px) {
      flex: 1 auto;
      flex-direction: column;
    }
  }

  &-blocks {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(80);

    @media screen and (max-width: $desktopWidth) {
      column-gap: rem(50);
    }
  }

  &-description {
    margin-bottom: rem(10);
  }

  &-caption {
    margin-bottom: rem(20);
    font-family: $secondFont;

    &_position {
      margin-left: rem(20);
    }
  }

  &-icon-text-list {
    width: rem(280);
    margin-top: rem(20);
  }

  &-chart {
    min-width: rem(310);
    margin-bottom: rem(20);
  }

  //- visitors feedbacks
  &-feedbacks {
    margin-right: rem(10);

    &__caption {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (max-width: $smTableWidth) {
        flex-direction: column;
      }
    }
  }

  &-comments-block {
    margin-bottom: rem(23);

    &:last-child {
      margin-bottom: 0;
    }
  }
  //- visitors feedbacks end

  //- rules block
  &-rules {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(30);
    column-gap: rem(106);

    &-block {
      width: rem(255);
    }
  }

  &-cancel-block {
    max-width: rem(335);
  }
  //- rules block end
}
//- room-details columns end

.booking.cards_border {
  max-width: rem(380);
}
