@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.room-details__images-block {
  display: flex;
  flex-direction: row;
  width: 100%;

  &_left {
    width: 68.125%;
  }

  &_right {
    width: 31.875%;
  }

  &_big-size {
    width: 100%;
    height: auto;
  }

  &_middle-size {
    width: 100%;
    height: auto;

    &:last-child {
      margin-top: rem(-1);
    }
  }
}

//- room-details columns
.room-details {
  &__column-1 {
    width: rem(710);
    margin-right: rem(70);
  }

  &__blocks {
    display: flex;
    flex-direction: row;
  }

  &__right-block {
    margin-right: rem(80);
  }

  &__column-2 {
    width: rem(380);
  }

  //- rules block
  &__rules {
    display: flex;
    flex-direction: row;
    margin-top: rem(30);
  }

  &__rules-block {
    width: rem(270);
    margin-right: rem(90);
  }

  &__h2_rules-block {
    margin-bottom: rem(19);
    margin-left: rem(20);
  }

  &__cancel-block {
    width: rem(335);
  }

  &__h2_cancel-block {
    margin-bottom: rem(20);
  }
  //- rules block end

  //- visitors feedbacks
  &__feedbacks {
    margin-top: rem(11);

    &_caption {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: rem(21);
    }
  }

  &__comments-block_position {
    margin-bottom: rem(23);

    &:last-child {
      margin-bottom: 0;
    }
  }
  //- visitors feedbacks end

  //- info about room
  &__container {
    display: flex;
    flex-direction: row;
    margin-top: rem(67);
    margin-bottom: rem(62);
  }

  &__h2 {
    font-family: $secondFont;
  }

  &__icon-text-list__position {
    width: rem(280);
    margin-top: rem(20);
  }
  //- info about room end
}
//- room-details columns end

// d3js chart
.d3js-donut-chart_position {
  margin-top: rem(20);
}
