@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.login {
  &__caption {
    margin-bottom: rem(17);
    font-family: $secondFont;
  }

  &__inputs-block {
    margin-bottom: rem(22);
  }

  &__create-login-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(30);
  }
}
