block variables

doctype html
html(lang="ru")
  head
    include ./head-block.pug
    +head-block()

    include ./favicon.pug
    +favicon()

  body(class=pageClass)

    .wrapper
      block content

    block script