block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{title}
    meta(name="description", content=description)

  body(class=pageClass)

    .wrapper

      include ../ui-kit/headers-and-footers/headers/headers
      +header()

      block content

      include ../ui-kit/headers-and-footers/footers/footers
      +footer()

      block script