include ./favicon.pug
include ./head.pug

block variables

doctype html
html(lang = "ru")
  head
    +head()
    +favicon()

  body
    .wrapper
      .content
        block content

    block script
