include ../ui-kit/headers-and-footers/footer/footer
include ../ui-kit/headers-and-footers/header/header

block variables

doctype html
html(lang = "ru")
  head
    include ./head.pug
    +head()

    include ./favicon.pug
    +favicon()

  body

    .wrapper
      +header()

      .content
        block content

      +footer()

      block script
