block variables

doctype html
html(lang="ru")
  head
    include ./head-block.pug
    +head-block()

    include ./favicon.pug
    +favicon()

  body

    .wrapper

      include ../ui-kit/headers-and-footers/headers/headers
      +header()

      .content
        block content

      include ../ui-kit/headers-and-footers/footers/footers
      +footer()

      block script