mixin socials(params = {})
  -
    let {
      mobile = 'false'
    } = params

  - mobile = mobile === 'true' ? 'socials_mobile' : ''

  .socials(class = mobile)
    a.socials-link(
      href = "404.html"
      tabindex = "0"
      target = "_blank"
      rel = "noopener noreferrer"
    )
      i.fab.fa-twitter.socials-gradient-icon

    a.socials-link(
      href = "404.html"
      tabindex = "0"
      target = "_blank"
      rel = "noopener noreferrer"
    )
      i.fab.fa-facebook.socials-gradient-icon

    a.socials-link(
      href = "404.html"
      tabindex = "0"
      target = "_blank"
      rel = "noopener noreferrer"
    )
      i.fab.fa-instagram.socials-gradient-icon