@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';
@import '../logo/logo.scss';

.footer {
  display: flex;
  max-width: 1440px;
  height: rem(376);
  padding-top: rem(102);
  font-weight: normal;
  font-family: $secondFont;
  font-style: normal;
  background-color: $default-color;
  border-top: rem(1) solid rgba(223, 222, 227, 1);
  border-bottom: rem(1) solid rgba(223, 222, 227, 1);

  @media screen and (max-width: $smDesktopWidth) {
    height: auto;
    border-bottom: none;
  }

  @media screen and (max-width: $phoneWidth) {
    margin-top: rem(100);
    padding-top: rem(40);
  }

  &__mob {
    height: auto;
    border-bottom: none;
  }

  &__logo {
    @include logo;
  }

  &__logo-text {
    padding-top: rem(17);
    color: $DarkShade75;
    line-height: rem(24);

    @media screen and (max-width: $smDesktopWidth) {
      display: none;
    }
  }

  &-nav {
    padding-top: rem(21);
    color: $DarkShade50;

    &__item {
      padding-bottom: rem(18);
    }

    &__link {
      &:hover {
        color: $DarkShade75;
      }

      &:focus {
        color: $DarkShade75;
        font-weight: bold;
        text-shadow: $TabindexShadow;
      }
    }

    &__text {
      margin-bottom: rem(19);
      line-height: rem(22);
    }
  }

  &__nav-input {
    width: 100%;
    margin-top: rem(25);
    padding: rem(12) rem(10) rem(12) rem(14);
    font-family: $secondFont;
    border: rem(1) solid $DarkShade25;
    border-radius: rem(4);
  }
}

.footer__container,
.sub-footer__container {
  @include container;
}

// sub-footer
.sub-footer {
  display: flex;
  align-items: center;
  max-width: 1440px;
  height: rem(70);
  background-color: $default-color;

  @media screen and (max-width: $smDesktopWidth) {
    align-items: flex-start;

    &__socials {
      margin-top: rem(17);
    }
  }

  @media (max-width: $phoneWidth) {
    height: rem(140);
  }

  @media (min-width: $phoneWidth) and (max-width: $smDesktopWidth) {
    height: rem(207);
  }

  &__container {
    justify-content: space-between;

    @media screen and (max-width: $smDesktopWidth) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: rem(15);
    }

    &_mob {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: rem(15);
    }
  }

  &__copyright {
    display: flex;
    margin-top: rem(3);
    color: $DarkShade75;
    font-weight: normal;
    font-family: $secondFont;
    text-align: center;
  }

  &__mob {
    align-items: flex-start;
    height: rem(207);
  }
}
// sub-footer end

// grid
.footer__grid-layout {
  display: grid;
  grid-column-gap: rem(40);
  grid-template-columns: repeat(12, 1fr);
  width: 100%;

  @media screen and (max-width: $desktopWidth) {
    grid-column-gap: rem(10);
  }

  @media screen and (max-width: $smDesktopWidth) {
    grid-template-columns: 1fr;
  }

  &-logo {
    grid-column: span 3;

    @media screen and (max-width: $smDesktopWidth) {
      display: grid;
      grid-column: span 12;
      align-items: flex-start;
      justify-content: center;
      justify-items: center;
      margin-top: rem(19);
    }

    &_mob {
      display: grid;
      grid-column: span 12;
      align-items: flex-start;
      justify-items: center;
      margin-top: rem(19);
    }
  }

  &-col {
    grid-column: span 2;
    padding-top: rem(3);

    @media screen and (max-width: $smDesktopWidth) {
      display: none;
    }
  }

  &-form {
    grid-column: span 3;
    padding-top: rem(3);

    @media screen and (max-width: $smDesktopWidth) {
      display: none;
    }
  }
}
// grid end
