@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.booking__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &_margin {
    margin-bottom: rem(22);
  }
}

.booking__caption_position {
  &_left {
    display: flex;
    flex-direction: row;
    margin-top: rem(7);
    font-weight: bold;
    font-family: $secondFont;
  }

  &_right {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-top: rem(9);
    color: $DarkShade50;
    font-size: rem(14);
    font-family: $secondFont;
    line-height: rem(18);
  }
}

.booking__caption-number {
  @include h1-style;
  display: flex;
  flex-direction: row;
  color: $DarkShade100;
  font-family: $secondFont;
  line-height: rem(17);
}

.booking__caption-symbol {
  display: flex;
  align-self: end;
  font-size: rem(14);
}

.booking__caption-room-number {
  display: flex;
  align-items: center;
  margin-top: rem(3);
  margin-right: rem(9);
  margin-left: rem(3);
  color: $DarkShade100;
  font-weight: bold;

  &_font-size {
    font-size: rem(24);
  }
}

.booking__caption-status {
  align-self: flex-end;
  margin-top: rem(7);
  color: $purple;
  font-size: rem(12);
  line-height: rem(15);
  text-transform: uppercase;
}

.booking__caption-price {
  font-weight: bold;
}

.booking__caption-text {
  margin-left: rem(3);
  font-weight: normal;
  font-size: rem(12);
}
