.header__logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.header__logo-img{
  margin-right: 12px;
  height: 40px;
  width: 40px;
}
.header__logo-name{
  height: 14px;
}