@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.first-container {
  margin-bottom: 85px;
}
.second-container {
  margin-bottom: 149px;
}
.third-container {
  margin-bottom: 73px;
}
.fourth-container {
  margin-bottom: 111px;
}
.column-1, .column-2, .column-3 {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin-top: rem(5);
}
.column-4 {
  width: 100%;
}
.column-1 {
  margin-right: 127px;
}
.column-2 {
  margin-right: 72px;
}
.mini-column {
  width: 266px;
}
.block-margin {
  margin-bottom: rem(19);
}
.date-margin {
  margin-top: rem(3);
  margin-bottom: rem(41);
}
.date-dropdown-margin {
  margin-top: rem(22);
}
.subscription-text-field-margin {
  margin-top: rem(41);
}
.checkbox-buttons-margin {
  margin-top: rem(11);
}
.toggle-margin {
  margin-top: rem(21);
}
.toggle-margin-between {
  margin-top: rem(-2);
}
.like-buttons-margin {
  margin-top: rem(25);
}
.like-buttons__direction {
  display: flex;
  flex-direction: row;
}
.like-button__caption {
  margin-bottom: rem(16);
}
.like-button__margin {
  margin-right: rem(10);
}
.rate-button__caption {
  margin-top: rem(21);
  margin-bottom: rem(11);
}
.rate-buttons-block {
  display: flex;
  flex-direction: row;
}
.rate-buttons-margin {
  margin-right: rem(20);
}
.buttons__caption {
  margin-top: rem(33);
  margin-bottom: rem(16);
}
.buttons-block {
  display: flex;
  flex-direction: row;
  margin-bottom: rem(30);
  width: 100%;
}
.button__margin {
  margin-right: rem(20);
}
.btn-mt {
  margin-top: rem(-4);
}

.pagination__caption {
  margin-top: rem(-9);
  margin-bottom: rem(16);
}

.expandable-checkbox-list__margin {
  margin-bottom: rem(44);
}

.comments-block__margin {
  margin-top: rem(16);
}