mixin dropdown-guests(params)
  .dropdown-guests__caption
    h3= params.leftCaption
  .dropdown-guests.input__style
    p.dropdown-guests__p Сколько гостей
    span.dropdown-guests__expand-button.material-icons expand_more
  .dropdown-guests__options
    //- TODO expanded dropdown code here

//- example
//- +dropdown({leftCaption: 'dropdown'})
