  /*

  // Base Helvetica (example):
  @font-face {
    font-family: "Helvetica-Base";
    src: url('../fonts/Helvetica-Base.eot'); // IE9 Compat Modes
    src: url('../fonts/Helvetica-Base.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('../fonts/Helvetica-Base.woff') format('woff'), // Pretty Modern Browsers
         url('../fonts/Helvetica-Base.ttf')  format('truetype'), // Safari, Android, iOS
         url('../fonts/Helvetica-Base.svg') format('svg'); // Legacy iOS
  }
  */

// Montserrat
@font-face {
  font-family: 'Montserrat-Black'; //, sans-serif;
  src:  url('../fonts/Montserrat-Black.eot'); // IE9 Compat Modes
  src:  url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'), // IE6-IE8
        url('../fonts/Montserrat-Black.woff') format('woff'), // Pretty Modern Browsers
        url('../fonts/Montserrat-Black.woff2') format('woff2'), // Pretty Modern Browsers
        url('../fonts/Montserrat-Black.ttf') format('truetype'), //Safari, Android, iOS
        url('../fonts/Montserrat-Black.svg') format('svg'); // Legacy iOS
}