// Fonts
$mainFont                : 'Quicksand', Arial, sans-serif;
$secondFont              : 'Montserrat', Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Paddings
$desktopWidthPadding     : 30px;

// Colors
$DarkShade100            : rgba(31, 32, 65, 1);
$DarkShade75             : rgba(31, 32, 65, .75);
$DarkShade50             : rgba(31, 32, 65, .5);
$DarkShade25             : rgba(31, 32, 65, .25);
$DarkShade5              : rgba(31, 32, 65, .05);
$purple                  : rgba(188, 156, 255, 1);
$green                   : rgba(111, 207, 151, 1);

// Main color
$default-color           : #ffffff;
$menu-hover-color        : #e3e3e3;

$inputBorderRadius       : 4px;
