extends ../components/layouts/main

include ../components/ui-kit/cards/booking/booking
include ../components/ui-kit/cards/date-picker/date-picker
include ../components/ui-kit/cards/login/login
include ../components/ui-kit/cards/registration/registration
include ../components/ui-kit/cards/room-card/room-card
include ../components/ui-kit/cards/room-search/room-search
include ../components/ui-kit/logo/logo

block variables
  - title = "FSD Cards";
  - description = "FSD education project | Cards page";

block content

  +logo({
    type: 'toxin',
  })
  .cards-container

    .cards-column-1
      +room-search()

      .cards-registration
        +registration()

    .cards-column-2
      +booking({
        roomPrice:                    "9 990₽",
        daysPriceText:                " x 4 суток",
        servicesPriceText:            "Сбор за услуги: скидка 2 179₽",
        additionalServicesPriceText:  "Сбор за дополнительные услуги",
        daysPriceValue:               "39\u00A0960₽",
        servicesPriceValue:           "0₽",
        additionalServicesPriceValue: "300₽",
        resultText:                   "Итого",
        resultSum:                    `38\u00A0081₽`
      })

      .cards-login
        +login()


    .cards-column-3
      +date-picker()

      .cards-room-card
        +room-card({
          number:    "888",
          status:    "Люкс",
          price:     "9 900₽",
          photoName: "room-card-888.jpg",
          starsRate: "5",
          feedbacks: "145",
        })

      .cards-room-card
        +room-card({
          number:    "840",
          status:    "Люкс",
          price:     "9 900₽",
          photoName: "room-card-840.jpg",
          starsRate: "4",
          feedbacks: "65",
        })