extends ../components/layouts/main

block variables
  - var title = 'FSD Colors & Types';
  - var description = 'FSD education project | Colors & Types page';
  - var pageClass = 'colors-and-types-page';

block content
  .wrapper
    .content-wrapper
      .toxin-logo
        img(src="/assets/img/logo.svg", alt="logo")
      .container.flex-row.justify-content-between
        .colorsntypes__colors
          include ../components/colorsntypes/colors/colors
        .colorsntypes__types
          include ../components/colorsntypes/types/types