extends ../components/layouts/main

include ../components/ui-kit/colors-and-types/color/color
include ../components/ui-kit/colors-and-types/types/types
include ../components/ui-kit/logo/logo

block variables
  - title = "FSD Colors & Types";
  - description = "FSD education project | Colors & Types page";

block content

  +logo({
    type: 'toxin',
  })
  .colors-and-types

    .colors-and-types__colors
      +color({
        name:    "Dark Shade 100%",
        opacity: "1",
      })

      +color({
        name:    "Dark Shade 75%",
        opacity: ".75",
      })

      +color({
        name:    "Dark Shade 50%",
        opacity: ".50",
      })

      +color({
        name:    "Dark Shade 25%",
        opacity: ".25",
      })

      +color({
        name:    "Dark Shade 5%",
        opacity: ".05",
      })

      +color({
        name:  "Purple",
        color: "#BC9CFF",
      })

      +color({
        name:  "Green",
        color: "#6FCF97",
      })

    .colors-and-types__types
      +types()