extends ../components/layouts/main

block variables
  - var title = 'FSD Colors & Types';
  - var description = 'FSD education project | Colors & Types page';
  - var pageClass = 'colors-and-types';

block content

  include ../components/ui-kit/logo/logo
  .container.colors-and-types

    .colors-and-types__colors
      include ../components/ui-kit/colors-and-types/colors/colors

    .colors-and-types__types
      include ../components/ui-kit/colors-and-types/types/types