extends ../components/layouts/main

block variables
  - var title = 'FSD Colors & Types';
  - var description = 'FSD education project | Colors & Types page';
  - var pageClass = 'colors-and-types';

block content
  .wrapper
    include ../components/ui-kit/logo/logo
    .container.flex-row.justify-content-between.colorsntypes

      .colorsntypes__colors
        include ../components/ui-kit/colorsntypes/colors/colors

      .colorsntypes__types
        include ../components/ui-kit/colorsntypes/types/types