extends ../components/layouts/main

block variables
  - var title = 'FSD Form Elements';
  - var description = 'FSD education project | Form Elements page';
  - var pageClass = 'form-elements';

block content
  .wrapper

    include ../components/ui-kit/logo/logo
    .container

      .column-1
        .block-margin
          include ../components/ui-kit/formelements/textfield/textfield
          +textfield({leftCaption:    'text field', 
                      rightCaption:   'default',
                      inpType:        'email',
                      inpName:        'email',
                      inpMode:        'email',
                      inpPlaceholder: 'Email',
                      inpId:          'emailTextField'})

        .block-margin
          +textfield({leftCaption:    'text field', 
                      rightCaption:   'hover /focus',
                      inpType:        'text',
                      inpName:        'text',
                      inpMode:        'text',
                      inpPlaceholder: 'This is pretty awesome',
                      inpId:          'textField',
                      hoverStyle:     'like-hover'})

        .block-margin
          include ../components/ui-kit/formelements/dropdown-guests/dropdown-guests
          +dropdown-guests({leftCaption: 'dropdown'})
        
        .block-margin.date-margin
          //- TODO make new mixin maskedTextField with jq plugin
          +textfield({leftCaption:    'masked text field',
                      inpType:        'date',
                      inpName:        'date',
                      inpId:          'dateField',
                      textTransform:  'uppercase'})
        
        .block-margin.date-dropdown-margin
          include ../components/ui-kit/formelements/date-dropdown/date-dropdown
          +date-dropdown({startDateCaption: 'date dropdown',
                          endDateCaption:   'date dropdown',
                          startInpId:       'startDate',
                          endInpId:         'endDate',
                          endDefaultDate:   '2019-08-19'})

        .mini-column

          .block-margin.date-dropdown-margin
            include ../components/ui-kit/formelements/filter-date-dropdown/filter-date-dropdown
            +filter-date-dropdown({leftCaption : 'filter date dropdown'})

          .block-margin.date-dropdown-margin.subscription-textfield-margin
            include ../components/ui-kit/formelements/textfield/textfield
            +textfield({leftCaption:    'subscription text field', 
                        inpType:        'email',
                        inpName:        'email',
                        inpMode:        'email',
                        inpPlaceholder: 'Email',
                        inpId:          'Subscription',
                        isArrow:        'true',
                      })


      .column-2

        .super-mini-column

          .block-margin
            include ../components/ui-kit/formelements/checkbox-buttons/checkbox-buttons
            +checkbox-buttons({leftCaption: 'checkbox buttons',
                              inpId:        'chkboxbtns',
                              inpClass:     'custom-checkbox',
                              inpStatus:    [ ,'checked','checked'],
                              inpName:      'chkboxname',
                              inpValue:     ['allow-smoke', 'allow pet',        'allow guests'],
                              inpText:      ['Можно курить','Можно с питомцами','Можно пригласить гостей (до 10 человек)'],
                              })


      .column-3
        h3 range slider

    .container
    .container