extends ../components/layouts/main

block variables
  - var title = 'FSD Form Elements';
  - var description = 'FSD education project | Form Elements page';
  - var pageClass = 'form-elements';

block content
  .wrapper

    include ../components/ui-kit/logo/logo
    .container

      .column-1
        include ../components/ui-kit/formelements/formelements
        .block-margin
          +textfield({leftCaption:    'text field', 
                      rightCaption:   'default',
                      inpType:        'email',
                      inpName:        'email',
                      inpMode:        'email',
                      inpPlaceholder: 'Email',
                      inpId:          'emailtexfield'})

        .block-margin
          +textfield({leftCaption:    'text field', 
                      rightCaption:   'hover /focus',
                      inpType:        'text',
                      inpName:        'text',
                      inpMode:        'text',
                      inpPlaceholder: 'This is pretty awesome',
                      inpId:          'texfield',
                      hoverStyle:     'like-hover'})

        .block-margin


      .column-2
        h3 checkbox buttons
      .column-3
        h3 range slider