extends ../components/layouts/main

block variables
  - title = "FSD Form Elements";
  - description = "FSD education project | Form Elements page";
  - pageClass = "form-elements";

block content

  include ../components/ui-kit/logo/logo
  .first-container.container

    .column-1

      .block-margin
        include ../components/ui-kit/form-elements/text-field/text-field
        +text-field({
          leftCaption:    "text field",
          rightCaption:   "default",
          inpType:        "email",
          inpName:        "email",
          inpPlaceholder: "Email",
        })

      .block-margin
        +text-field({
          leftCaption:    "text field",
          rightCaption:   "hover /focus",
          inpType:        "text",
          inpName:        "text",
          inpPlaceholder: "This is pretty awesome",
          hoverStyle:     "true",
        })

      .block-margin
        include ../components/ui-kit/form-elements/dropdown/dropdown
        +dropdown({
          leftCaption:   "dropdown",
          type:          "dropdown-guests",
          selectionText: "Сколько гостей",
          expMenuHidden: "true",
        })

      .block-margin.date-margin
        include ../components/ui-kit/form-elements/masked-text-field/masked-text-field
        +masked-text-field({
          leftCaption:    "masked text field",
          inpName:        "date",
          inpPlaceholder: "ДД.ММ.ГГГГ",
        })

      .block-margin.dropdown-date-margin
        include ../components/ui-kit/form-elements/dropdown-date/dropdown-date
        +dropdown-date({
          startDateCaption: "date dropdown",
          endDateCaption:   "date dropdown",
          endDefaultDate:   "2019-08-19",
        })

      .mini-column

        .block-margin.date-dropdown-margin
          include ../components/ui-kit/form-elements/filter-date-dropdown/filter-date-dropdown
          +filter-date-dropdown({
            leftCaption : "filter date dropdown",
          })

        .block-margin.subscription-text-field-margin
          include ../components/ui-kit/form-elements/text-field/text-field
          +text-field({
            leftCaption:    "subscription text field",
            inpType:        "email",
            inpName:        "email",
            inpPlaceholder: "Email",
            isArrow:        "true",
          })


    .column-2

      .block-margin
        include ../components/ui-kit/form-elements/checkbox-buttons/checkbox-buttons
        +checkbox-buttons({
          leftCaption:  "checkbox buttons",
          inpId:       "check-box-buttons",
          showCaption: "true",
          inpStatus:   [ ,"checked","checked"],
          inpName:     ["allow-smoke", "allow-pet", "allow-guests"],
          inpValue:    ["allow-smoke", "allow-pet", "allow-guests"],
          inpText:     ["Можно курить","Можно с питомцами","Можно пригласить гостей (до 10 человек)"],
        })

      .block-margin.checkbox-buttons-margin
        include ../components/ui-kit/form-elements/radio-buttons/radio-buttons
        +radio-buttons({
          leftCaption:     "radio buttons",
          radioButtonName: "gender",
          inpName:         ["man",    "woman"],
          inpText:         ["Мужчина","Женщина"],
          inpStatus:       ["checked",],
          inpId:           "form-elements-radio-buttons-",
        })

      .block-margin.toggle-block-margin
        include ../components/ui-kit/form-elements/toggle/toggle
        .form-elements__toggle-margin-between
          +toggle({
            leftCaption:   "toggle",
            toggleBtnText: "Получать спецпредложения",
            toggleStatus:  "checked",
            toggleId:      "form-elements-toggle-1",
          })

        .form-elements__toggle-margin-between
          +toggle({
            toggleBtnText: "Получать спецпредложения",
            toggleId:      "form-elements-toggle-2",
          })

      .block-margin.like-buttons-margin
        include ../components/ui-kit/form-elements/like-button/like-button
        h3.like-button__caption like button
        .like-buttons__direction
          .like-button__margin
            +like-button({
              leftCaption: "like button",
              likeBtnText: "2",
            })

          +like-button({
            likeBtnStatus: "checked",
            likeBtnText:   "12",
          })

      .block-margin
        include ../components/ui-kit/form-elements/rate-button/rate-button
        h3.rate-button__caption rate button
        .rate-buttons-block
          .rate-buttons-margin
            +rate-button({
              rateBtnName: "rateBtnName-1",
              rateBtnId:   "rateBtnId-1",
              starsCount:  "4",
            })

          +rate-button({
            rateBtnName: "rateBtnName-2",
            rateBtnId:   "rateBtnId-2",
            starsCount:  "5",
          })


    .column-3

      .mini-column
        include ../components/ui-kit/form-elements/range-slider/range-slider
        +range-slider({
          leftCaption:  "range slider",
          rightCaption:  "5 000₽ - 10 000₽",
        })

      .buttons__block-margin
        include ../components/ui-kit/form-elements/buttons/buttons
        h3.buttons__caption buttons
        .buttons-block
          .button__margin
            +button({
              link : "change_me",
            })

          +button({
            link : "change_me",
            mod: ["hover"],
          })

        .buttons-block
          .button__margin
            +button({
              link : "change_me",
              mod: ["bordered"],
            })

          +button({
            link : "change_me",
            mod: ["bordered", "hover"],
          })

        .buttons-block
          .button__margin.btn-mt
            +button({
              link: "change_me",
              mod: ["no-background"],
            })

          +button({
            link: "change_me",
            mod: ["no-background","no-background_hover"],
          })

        .buttons-block
          +button({
            link: "change_me",
            mod: ["with_arrow","block"],
            value: "Перейти к оплате",
          })

      .block-margin
        include ../components/ui-kit/form-elements/pagination/pagination
        h3.pagination__caption pagination
        +pagination()


  .second-container.container

    .column-1

      .mini-column

        .block-margin
          include ../components/ui-kit/form-elements/dropdown/dropdown
          +dropdown({
            leftCaption:   "dropdown",
            rightCaption:  "default",
            type:          "dropdown-options",
            selectionText: "2 спальни, 2 кровати...",
            expMenuHidden: "true",
          })

        .block-margin
          include ../components/ui-kit/form-elements/dropdown/dropdown
          +dropdown({
            leftCaption:   "dropdown",
            rightCaption:  "expanded",
            type:          "dropdown-options",
            idPostfix:     "-changed-example",
            selectionText: "2 спальни, 2 кровати...",
          })


    .column-2

      include ../components/ui-kit/form-elements/dropdown/dropdown
      +dropdown({
        leftCaption:   "dropdown",
        type:          "dropdown-guests",
        selectionText: "Сколько гостей",
      })


    .column-3

      include ../components/ui-kit/form-elements/dropdown/dropdown
      +dropdown({
        leftCaption:        "dropdown",
        type:               "dropdown-guests",
        idPostfix:          "-changed-example",
        selectionText:      "3 гостя",
        cleanButtonVisible: "true",
      })

  .third-container.container

    .column-1

      .mini-column

        .block-margin.checkbox-buttons__expandable-list__margin
          include ../components/ui-kit/form-elements/checkbox-buttons/checkbox-buttons
          +checkbox-buttons({
            caption:        "expandable checkbox list",
            leftCaption:    "checkbox buttons",
            inpId:          "check-box-buttons-1",
            optionsDisplay: "display-none",
            inpStatus:      [,,,,,,],
            inpName:        ["breakfast", "table", "chair", "bed", "TV", "shampoo"],
            inpValue:       ["breakfast", "table", "chair", "bed", "TV", "shampoo"],
            inpText:        ["Завтрак","Письменный стол","Стул для кормления","Кроватка","Телевизор","Шампунь"],
          })

        .block-margin.checkbox-buttons__expandable-list__margin2
          include ../components/ui-kit/form-elements/checkbox-buttons/checkbox-buttons
          +checkbox-buttons({
            caption:     "expandable checkbox list",
            leftCaption: "checkbox buttons",
            inpId:       "check-box-buttons-2",
            inpStatus:   [ ,"checked","checked","checked",,,],
            inpName:     ["breakfast", "table", "chair", "bed", "TV", "shampoo"],
            inpValue:    ["breakfast", "table", "chair", "bed", "TV", "shampoo"],
            inpText:     ["Завтрак","Письменный стол","Стул для кормления","Кроватка","Телевизор","Шампунь"],
            rotate:      "checkbox-buttons__expandable-list__expand-more-rotate",
          })


    .column-2

      .mini-column

        include ../components/ui-kit/form-elements/rich-checkbox-buttons/rich-checkbox-buttons
        +rich-checkbox-buttons({
          caption:       "rich checkbox buttons",
          optionsValue:  ["wide-corridor",
                          "assistant-for-the-disabled"],
          optionText:    ["Широкий коридор",
                          "Помощник для инвалидов"],
          optionSubText: ["Ширина коридоров в номере не менее 91 см.",
                          "На 1 этаже вас встретит специалист и проводит до номера"],
        })


    .column-3

      .mini-column

        include ../components/ui-kit/form-elements/bullet-list/bullet-list
        +bullet-list({
          caption: "bullet list",
          options: ["Нельзя с питомцами",
                    "Без вечеринок и мероприятий",
                    "Время прибытия - после 13:00, а выезд до 12:00"],
        })


  .fourth-container.container

    .column-1

      .icon-text-list__wrapper
        include ../components/ui-kit/form-elements/icon-text-list/icon-text-list
        +icon-text-list({
          iconName : "insert_emoticon",
          caption:   "Комфорт",
          text:      "Шумопоглощающие стены",
        })

        +icon-text-list({
          iconName : "location_city",
          caption:   "Удобство",
          text:      "Окно в каждой из спален",
        })

    .column-4

      .comments-block__margin
        include ../components/ui-kit/form-elements/comments-block/comments-block
        +comments-block({
          imageName:    "avatar.jpg",
          userName:     "Мурад Сарафанов",
          commentDate:  "5 дней назад",
          feedbackText: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
          likeBtnId:     "likeBtnId-3",
          likeBtnStatus: "checked",
          likeBtnText:   "12",
        })