extends ../components/layouts/main

block variables
  - var title = 'FSD Form Elements';
  - var description = 'FSD education project | Form Elements page';
  - var pageClass = 'form-elements';

block content
  .wrapper

    include ../components/ui-kit/logo/logo
    .container

      .column-1
        include ../components/ui-kit/formelements/textfield/textfield
        .block-margin
          +textfield({leftCaption:    'text field', 
                      rightCaption:   'default',
                      inpType:        'email',
                      inpName:        'email',
                      inpMode:        'email',
                      inpPlaceholder: 'Email',
                      inpId:          'emailTextField'})

        .block-margin
          +textfield({leftCaption:    'text field', 
                      rightCaption:   'hover /focus',
                      inpType:        'text',
                      inpName:        'text',
                      inpMode:        'text',
                      inpPlaceholder: 'This is pretty awesome',
                      inpId:          'textField',
                      hoverStyle:     'like-hover'})

        include ../components/ui-kit/formelements/dropdown/dropdown
        .block-margin
          +dropdown({leftCaption: 'dropdown'})
        
        .block-margin.date-margin
          //- TODO add example to textfield.pug mixin
          +textfield({leftCaption:    'masked text field',
                      inpType:        'date',
                      inpName:        'date',
                      inpId:          'dateTextField',
                      textTransform:  'uppercase'})


      .column-2
        h3 checkbox buttons
      .column-3
        h3 range slider