extends ../components/layouts/main

block variables
  - var title = 'FSD Form Elements';
  - var description = 'FSD education project | Form Elements page';
  - var pageClass = 'form-elements';

block content
  .wrapper

    include ../components/ui-kit/logo/logo
    .container

      .column-1

        .block-margin
          include ../components/ui-kit/formelements/textfield/textfield
          +textfield({leftCaption:    'text field', 
                      rightCaption:   'default',
                      inpType:        'email',
                      inpName:        'email',
                      inpMode:        'email',
                      inpPlaceholder: 'Email',
                      inpId:          'emailTextField'})

        .block-margin
          +textfield({leftCaption:    'text field', 
                      rightCaption:   'hover /focus',
                      inpType:        'text',
                      inpName:        'text',
                      inpMode:        'text',
                      inpPlaceholder: 'This is pretty awesome',
                      inpId:          'textField',
                      hoverStyle:     'like-hover'})

        .block-margin
          include ../components/ui-kit/formelements/dropdown-guests/dropdown-guests
          +dropdown-guests({leftCaption: 'dropdown'})
        
        .block-margin.date-margin
          //- TODO make new mixin maskedTextField with jq plugin
          +textfield({leftCaption:    'masked text field',
                      inpType:        'date',
                      inpName:        'date',
                      inpId:          'dateField',
                      textTransform:  'uppercase'})
        
        .block-margin.date-dropdown-margin
          include ../components/ui-kit/formelements/date-dropdown/date-dropdown
          +date-dropdown({startDateCaption: 'date dropdown',
                          endDateCaption:   'date dropdown',
                          startInpId:       'startDate',
                          endInpId:         'endDate',
                          endDefaultDate:   '2019-08-19'})

        .mini-column

          .block-margin.date-dropdown-margin
            include ../components/ui-kit/formelements/filter-date-dropdown/filter-date-dropdown
            +filter-date-dropdown({leftCaption : 'filter date dropdown'})

          .block-margin.date-dropdown-margin.subscription-textfield-margin
            include ../components/ui-kit/formelements/textfield/textfield
            +textfield({leftCaption:    'subscription text field', 
                        inpType:        'email',
                        inpName:        'email',
                        inpMode:        'email',
                        inpPlaceholder: 'Email',
                        inpId:          'Subscription',
                        isArrow:        'true'})


      .column-2

        .block-margin
          include ../components/ui-kit/formelements/checkbox-buttons/checkbox-buttons
          +checkbox-buttons({leftCaption: 'checkbox buttons',
                             inpId:        'chkboxbtns',
                             inpClass:     'custom-checkbox',
                             inpStatus:    [ ,'checked','checked'],
                             inpName:      'chkboxname',
                             inpValue:     ['allow-smoke', 'allow pet',        'allow guests'],
                             inpText:      ['Можно курить','Можно с питомцами','Можно пригласить гостей #[br]  (до 10 человек)']})

        .block-margin.checkbox-buttons-margin
          include ../components/ui-kit/formelements/radio-buttons/radio-buttons
          +radio-buttons({leftCaption:    'radio buttons',
                          formActionName: 'form-action.php',
                          radioBtnsName:  'radio-btns',
                          inpName:        ['man',    'woman'],
                          inpText:        ['Мужчина','Женщина'],
                          inpStatus:      ['checked',]})

        .block-margin.toggle-margin
          include ../components/ui-kit/formelements/toggle/toggle
          +toggle({leftCaption:    'toggle',
                   toggleId:       'toggle-button1',
                   toggleBtnText:  'Получать спецпредложения',
                   toggleStatus:   'checked'})
          .toggle-margin-between
            +toggle({leftCaption:  '',
                    toggleId:      'toggle-button2',
                    toggleBtnText: 'Получать спецпредложения',})

        .block-margin.like-buttons-margin
          include ../components/ui-kit/formelements/like-button/like-button
          h3.like-button__caption like button
          .like-buttons__direction
            .like-button__margin
              +like-button({leftCaption:   'like button',
                            likeBtnId:     'likeBtnId-1',
                            likeBtnText:   '2'})

            +like-button({likeBtnId:     'likeBtnId-2',
                          likeBtnStatus: 'checked',
                          likeBtnText:   '12'})

        .block-margin
          include ../components/ui-kit/formelements/rate-button/rate-button
          h3.rate-button__caption rate button
          .rate-buttons-block
            .rate-buttons-margin
              +rate-button({rateBtnName: 'rateBtnName-1',
                            rateBtnId:   'rateBtnId-1',
                            starsCount:  '4'})

            +rate-button({rateBtnName: 'rateBtnName-2',
                          rateBtnId:   'rateBtnId-2',
                          starsCount:  '5'})


      .column-3
      
        .mini-column
          include ../components/ui-kit/formelements/range-slider/range-slider
          +range-slider({leftCaption:   'range slider',
                        rightCaption:  '5 000₽ - 10 000₽'})

        .block-margin
          include ../components/ui-kit/formelements/buttons/buttons
          h3.buttons__caption buttons
          .buttons-block
            .button__margin
              +button({link : 'change_me'})
            +button({link : 'change_me', mod: ['hover']})
          
          .buttons-block
            .button__margin
              +button({link : 'change_me', mod: ['bordered']})
            +button({link : 'change_me', mod: ['bordered', 'hover']})

          .buttons-block
            .button__margin.btn-mt
              +button({link: 'change_me', mod: ['noback']})
            +button({link: 'change_me', mod: ['noback','noback_hover']})

          .buttons-block
            +button({link: 'change_me', mod: ['with_arrow','block'], value: 'Перейти к оплате'})


    .container
    .container