extends ../components/layouts/main

block variables
  - title = "FSD Headers & Footers";
  - description = "FSD education project | Headers & Footers page";

block content

  include ../components/ui-kit/logo/logo
  include ../components/ui-kit/headers-and-footers/headers/headers
  +header()
  .headers-and-footers__margin
    +header("authorized")
  include ../components/ui-kit/headers-and-footers/footers/footers
  .headers-and-footers__margin
    +footer()
  .headers-and-footers__margin
    .responsive-footer-container
      +footer("mobile")
