extends ../components/layouts/main

block variables
  - var title = 'FSD Headers & Footers';
  - var description = 'FSD education project | Headers & Footers page';
  - var pageClass = 'headers-and-footers';

block content

  include ../components/ui-kit/logo/logo
  include ../components/ui-kit/headers-and-footers/headers/headers
  +header()
  .headers-and-footers__margin
    +header('authorized')
  include ../components/ui-kit/headers-and-footers/footers/footers
  .headers-and-footers__margin
    +footer()
  .headers-and-footers__margin
    .responsive-footer-container
      +footer('mobile')
