extends ../components/layouts/main

block variables
  - title = "FSD Headers & Footers";
  - description = "FSD education project | Headers & Footers page";

block content

  include ../components/ui-kit/logo/logo
  include ../components/ui-kit/headers-and-footers/header/header
  +header()
  .headers-and-footers
    +header("authentificated")
  include ../components/ui-kit/headers-and-footers/footer/footer
  .headers-and-footers
    +footer()
  .headers-and-footers
    .responsive-footer-container
      +footer("mobile")
