extends ../components/layouts/main

block variables
  - var title = 'FSD Headers & Footers';
  - var description = 'FSD education project | Headers & Footers page';
  - var pageClass = 'headers-and-footers';

block content
  .wrapper
    include ../components/ui-kit/logo/logo
    include ../components/ui-kit/headersnfooters/headers/headers
    +header()
    .headernfooters__margin
      +header('authorised')
    include ../components/ui-kit/headersnfooters/footers/footers
    .headernfooters__margin
      +footer()
    .headernfooters__margin
      .responsive-footer-container
        +footer('mobile')
