extends ../components/layouts/main

block variables
  - title = "FSD Navigation Menu";
  - description = "FSD education project | navigation page";

block content

  .nav-page-menu
    h1.nav-page-menu__header UI-Kit
    a.navigation__link(tabindex = "0" href = "colors-and-types.html") Colors & Types
    a.navigation__link(tabindex = "0" href = "headers-and-footers.html") Headers & Footers
    a.navigation__link(tabindex = "0" href = "form-elements.html") Form & Elements
    a.navigation__link(tabindex = "0" href = "cards.html") Cards

    h1.nav-page-menu__header Website pages
    a.navigation__link(tabindex = "0" href = "landing-page.html") Landing page
    a.navigation__link(tabindex = "0" href = "search-room.html") Search room
    a.navigation__link(tabindex = "0" href = "room-details.html") Room details
    a.navigation__link(tabindex = "0" href = "registration.html") Registration
    a.navigation__link(tabindex = "0" href = "sign-in.html") Sign in
