extends ../components/layouts/main

block variables
  - var title = 'FSD Navigation Menu';
  - var description = 'FSD education project | navigation page';
  - var pageClass = 'navigation-page';

block content
  .wrapper
    .navpagemenu
      h1.navpagemenu__header Navigation Menu
      a.navigation__link(href="colorsntypes.html") Colors & Types
      a.navigation__link(href="headersnfooters.html") Headers & Footers
      a.navigation__link(href="formelements.html") Form & Elements