extends ../components/layouts/main

block variables
  - var title = 'FSD Navigation Menu';
  - var description = 'FSD education project | navigation page';
  - var pageClass = 'navigation-page';

block content

  .nav-page-menu
    h1.nav-page-menu__header UI-Kit
    a.navigation__link(href="colors-and-types.html") Colors & Types
    a.navigation__link(href="headers-and-footers.html") Headers & Footers
    a.navigation__link(href="form-elements.html") Form & Elements
    a.navigation__link(href="cards.html") Cards

    h1.nav-page-menu__header Website pages
    a.navigation__link(href="landing-page.html") Landing page
    a.navigation__link(href="search-room.html") Search room
    a.navigation__link(href="room-details.html") Room details
    a.navigation__link(href="registration.html") Registration
    a.navigation__link(href="sign-in.html") Sign in