extends ../components/layouts/main-header-footer

block variables
  - title = "FSD Landing page";
  - description = "FSD education project | Landing page";

block content
  .landing-background-block
    img.landing-background(src="./assets/img/landing-page__background-image-1.jpg", alt="landing page background image", loading="lazy")
    img.landing-background(src="./assets/img/landing-page__background-image-2.jpg", alt="landing page background image", loading="lazy")
    img.landing-background(src="./assets/img/landing-page__background-image-3.jpg", alt="landing page background image", loading="lazy")

  .landing__container

    .landing__room-search
      include ../components/ui-kit/cards/room-search/room-search
      +room-search()

  .landing__container

    p.landing__img-text
      | Лучшие номера для вашей работы,<br>
      | отдыха и просто вдохновения
