extends ../components/layouts/main-header-footer

include ../components/ui-kit/cards/room-search/room-search

block variables
  - title = 'FSD Landing page';
  - description = 'FSD education project | Landing page';

block content
  .landing-background
    img.landing-background-img(
      src = "./assets/img/landing-page--background-image-1.jpg",
      alt = "landing page background image",
      loading = "lazy",
    )

    img.landing-background-img(
      src = "./assets/img/landing-page--background-image-2.jpg",
      alt = "landing page background image",
      loading = "lazy",
    )

    img.landing-background-img(
      src = "./assets/img/landing-page--background-image-3.jpg",
      alt = "landing page background image",
      loading = "lazy",
    )

  .landing-container

    .landing-room-search
      +room-search()

  .landing-container

    p.landing-img-text
      | Лучшие номера для вашей работы,<br>
      | отдыха и просто вдохновения
