extends ../components/layouts/main-header-footer

include ../components/ui-kit/cards/registration/registration

block variables
  - title = "FSD Registration";
  - description = "FSD education project | Registration";

block content

  img(
    src = "./assets/img/registration-bg.jpg",
    alt = "registration page background image",
    loading = "lazy",
  ).registration-background-image

  .registration-container

    .registration-card
      +registration()