extends ../components/layouts/main

block variables
  - var title = 'FSD Search room';
  - var description = 'FSD education project | Search room';
  - var pageClass = 'search-room';

block content
  .wrapper

    include ../components/ui-kit/headers-and-footers/headers/headers
    +header()

    .container

      .option_column.container__option_column
        include ../components/ui-kit/form-elements/filter-date-dropdown/filter-date-dropdown
        +filter-date-dropdown({leftCaption : 'даты пребывания в отеле'})



      .room-cards_column.container__room-cards_column
        