extends ../components/layouts/main-header-footer

block variables
  - title = "FSD Search room";
  - description = "FSD education project | Search room";

block content

  .search-room-container

    .search-room-options-column.js-search-room-options-column

      .search-room-date-dropdown
        include ../components/ui-kit/form-elements/filter-date-dropdown/filter-date-dropdown
        +filter-date-dropdown({
          leftCaption : "даты пребывания в отеле",
        })

      include ../components/ui-kit/form-elements/dropdown/dropdown
      +dropdown({
        leftCaption:   "гости",
        type:          "dropdown-guests",
        selectionText: "Сколько гостей",
        expMenuHidden: "true",
      })

      .search-room-range-slider
        include ../components/ui-kit/form-elements/range-slider/range-slider
        +range-slider({
          leftCaption:  "диапазон цены",
          rightCaption: "5 000₽ - 10 000₽",
        })

        p.search-room-range-slider-text Стоимость за сутки пребывания в номере

      .search-room-checkbox-buttons
        include ../components/ui-kit/form-elements/checkbox-buttons/checkbox-buttons
        +checkbox-buttons({
          leftCaption: "правила дома",
          inpId:       "check-box-buttons",
          showCaption: "true",
          inpStatus:   [ ,"checked","checked"],
          inpName:     "check-box-name",
          inpValue:    ["allow-smoke", "allow pet",        "allow guests"],
          inpText:     ["Можно курить","Можно с питомцами","Можно пригласить гостей (до 10 человек)"],
        })

      .search-room-rich-checkbox-buttons
        include ../components/ui-kit/form-elements/rich-checkbox-buttons/rich-checkbox-buttons
        +rich-checkbox-buttons({
          caption:       "доступность",
          optionsValue:  ["wide-corridor",
                          "assistant-for-the-disabled"],
          optionText:    ["Широкий коридор",
                          "Помощник для инвалидов"],
          optionSubText: ["Ширина коридоров в номере не менее 91 см.",
                          "На 1 этаже вас встретит специалист и проводит до номера"],
        })

      .search-room-dropdown-options
        include ../components/ui-kit/form-elements/dropdown/dropdown
        +dropdown({
          leftCaption:   "удобства номера",
          type:          "dropdown-options",
          selectionText: "Удобства",
          expMenuHidden: "true",
        })

      .search-room-checkbox-buttons-expandable
        include ../components/ui-kit/form-elements/checkbox-buttons/checkbox-buttons
        +checkbox-buttons({
          caption:     "дополнительные удобства",
          leftCaption: "checkbox buttons",
          inpId:       "check-box-buttons-1",
          hidden:      "true",
          inpStatus:   [,,,,,,],
          inpName:     "check-box-name-1",
          inpValue:    ["breakfast", "table", "chair", "bed", "TV", "shampoo"],
          inpText:     ["Завтрак","Письменный стол","Стул для кормления","Кроватка","Телевизор","Шампунь"],
        })

    .search-room-options-column-button.js-search-room-options-column-button.search-room-options-column-button_rotate

    .search-room-room-cards
      h1.search-room-room-cards__caption Номера, которые мы для вас подобрали

      .search-room-room-cards__grid-layout

        - rooms = [{number: "888", luxStatus: "Люкс", price: "9 900", starsRate: "5", feedbacks: "145"}, {number: "840", luxStatus: "", price: "9 900", starsRate: "4", feedbacks: "65"}, {number: "980", luxStatus: "Люкс", price: "8 500", starsRate: "3", feedbacks: "35"},{number: "856", luxStatus: "", price: "7 300", starsRate: "5", feedbacks: "19"}, {number: "740", luxStatus: "", price: "6 600", starsRate: "4", feedbacks: "44"}, {number: "982", luxStatus: "", price: "5 800", starsRate: "3", feedbacks: "56"},{number: "678", luxStatus: "", price: "5 500", starsRate: "5", feedbacks: "45"}, {number: "450", luxStatus: "", price: "5 300", starsRate: "4", feedbacks: "39"}, {number: "350", luxStatus: "", price: "5 000", starsRate: "3", feedbacks: "77"},{number: "666", luxStatus: "", price: "5 000", starsRate: "5", feedbacks: "25"}, {number: "444", luxStatus: "", price: "5 000", starsRate: "3", feedbacks: "15"}, {number: "352", luxStatus: "", price: "5 000", starsRate: "3", feedbacks: "55"}]

        include ../components/ui-kit/cards/room-card/room-card
        each room in rooms
          +room-card({
            number:    room.number,
            status:    room.luxStatus,
            price:     `${room.price}₽`,
            photoName: `room-card-${room.number}.jpg`,
            starsRate: room.starsRate,
            feedbacks: room.feedbacks,
          })

      //- pagination
      include ../components/ui-kit/form-elements/pagination/pagination
      .search-room-room-cards__pagination
        +pagination()
