extends ../components/layouts/main-header-footer

block variables
  - title = "FSD Sign in";
  - description = "FSD education project | Sign in";

block content

  .sign-in-block
    img(src="./assets/img/sign-in-bg.jpg", alt="sign in page background image", loading="lazy").sign-in-background-image

    .sign-in-container

      .sign-in-card
        include ../components/ui-kit/cards/login/login
        +login()