@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';
@import '../card-background-border.scss';

.booking {
  display: flex;
  flex-direction: column;

  @include cards-border;

  &__date-dropdown-margin {
    margin-bottom: rem(20);
  }

  &__options,
  &__options-item {
    display: flex;
    flex-direction: row;
  }

  &__options {
    justify-content: space-between;
    margin-top: rem(20);
  }

  &__options-item {
    display: flex;
    justify-content: space-between;
    width: rem(239);

    &-text {
      display: flex;
      justify-content: flex-end;
      margin-bottom: rem(14);
      line-height: rem(20);
    }
  }

  &__options-info-icon {
    width: rem(20);
    height: rem(20);
    border: rem(1) solid $DarkShade25;
    border-radius: rem(10);
    cursor: pointer;

    &::before {
      position: relative;
      left: rem(7);
      color: $DarkShade25;
      font-size: rem(14);
      font-family: $secondFont;
      content: 'i';
    }
  }

  &__options-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: rem(12);
    margin-bottom: rem(22);
    font: bold rem(19) $secondFont;

    &-line {
      width: 100%;
      margin: 0 rem(3) rem(7);
      border-bottom: rem(1) dashed $DarkShade25;
    }

    &-text,
    &-sum {
      color: $DarkShade100;
      font: bold rem(19) $secondFont;
    }
  }
}
