@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';


.booking {

  display: flex;
  flex-direction: column;

  &__date-dropdown-margin {
    margin-bottom: rem(21);
  }
  
  &__options-block,
  &__options-item_block {
    display: flex;
    flex-direction: row;
  }

  &__options-block {
    justify-content: space-between;
    margin-top: rem(20);
  }

  &__options-item_block {
    display: flex;
    justify-content: space-between;
    width: rem(239);
  }


  &__options-info-icon {
    cursor: pointer;
    border: rem(1) solid $DarkShade25;
    width: rem(20);
    height: rem(20);
    border-radius: rem(10);
  
    &::before {
      content: 'i';
      position: relative;
      left: rem(7);
      font-family: $secondFont;
      font-size: rem(14);
      color: $DarkShade25;
    }
  }


  &__options-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: bold rem(19) $secondFont;
    margin-top: rem(12);
    margin-bottom: rem(18);
  
    &_line {
      width: 100%;
      border-bottom: rem(1) dashed $DarkShade25;
      margin: 0 rem(3) rem(7);
    }
    &_text,
    &_sum {
      font: bold rem(19) $secondFont;
      color: $DarkShade100;
    }
  }

  &__options-item_text {
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem(14);
    line-height: rem(20);
  }

}
