mixin types(params = {})
  -
    const {
      type = 'h1',
    } = params;

  .type
    case type
      when 'h1'
        h1.type__name.type__name-h1 H1
        h1.type__description.type__description-h1
          | This one is the sub-section or widget title

      when 'h2'
        h2.type__name.type__name-h2 H2
        h2.type__description.type__description-h2
          | Next one is the item title inside widgets

      when 'h3'
        h3.type__name.type__name-h3 H3
        h3.type__description.type__description-h3
          | This is a label or CTA text

      when 'body'
        p.type__name Body
        p.type__description
          | This is the body text which is used for most of the design,
          | like paragraphs, lists, etc.'
