@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.types__block {
  display: flex;
  flex-direction: row;
  margin-bottom: rem(50);
}

.type {
  &__tagDescription {
    width: rem(336);
  }

  &__tagName {
    display: flex;
    justify-content: flex-end;
    width: rem(37);
    margin: rem(-1) rem(30) 0 0;
    color: $DarkShade25;
    font-weight: normal;
    font-family: $secondFont;
  }
}
