mixin types()
  //- block H1
  .type
    h1.type__name H1
    h1.type__description.type__description_h1
      | This one is the sub-section or widget title

  //- block H2
  .type
    h2.type__name H2
    h2.type__description.type__description_h2
      | Next one is the item title inside widgets

  //- block H3
  .type
    h3.type__name H3
    h3.type__description
      | This is a label or CTA text

  //- block body
  .type
    p.type__name Body
    p.type__description
      | This is the body text which is used for most of the design,
      | like paragraphs, lists, etc.'
