.types
  //- block H1
  .types__block
    h1.type__tagName H1
    h1.type__tagDescription This one is the sub-section or widget title

  //- block H2
  .types__block
    h2.type__tagName H2
    h2.type__tagDescription Next one is the item title inside widgets

  //- block H3
  .types__block
    h3.type__tagName H3
    h3.type__tagDescription This is a label or CTA text

  //- block body
  .types__block
    p.type__tagName Body
    p.type__tagDescription This is the body text which is used for most of the design, like paragraphs, lists, etc.
//- types block end