@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.type {
  display: flex;
  flex-direction: row;
  margin-bottom: rem(50);

  &__name {
    display: flex;
    justify-content: flex-end;
    width: rem(37);
    margin: 0 rem(30) 0 0;
    color: $DarkShade25;
    font-weight: normal;
    font-family: $secondFont;
  }

  &__description {
    width: rem(336);

    &_h1 {
      font-family: $secondFont;
      font-weight: bold;
      font-size: rem(24);
    }

    &_h2 {
      font-family: $secondFont;
      font-weight: bold;
      font-size: rem(19);
    }
  }
}
