@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.type {
  display: flex;
  flex-direction: row;
  margin-bottom: rem(50);

  &__name {
    display: flex;
    justify-content: flex-end;
    width: rem(37);
    margin: 0 rem(30) 0 0;
    color: $DarkShade25;
    font-weight: normal;
    font-family: $secondFont;

    &-h1 {
      @include h1-style;
    }

    &-h2 {
      @include h2-style;
    }

    &-h3 {
      @include h3-style;
    }
  }

  &__description {
    width: rem(336);

    &-h1 {
      @include h1-style;

      font-family: $secondFont;
    }

    &-h2 {
      @include h2-style;

      font-family: $secondFont;
    }

    &-h3 {
      @include h3-style;
    }
  }
}
