@import '../../../assets/scss/utils/mixins.scss';
@import '../../../assets/scss/utils/vars.scss';

.text-404 {
  display: flex;
  justify-content: center;
  font-size: rem(48);
  color: $DarkShade75;
  font-weight: bold;
  margin-top: 100px;
}
