extends ../../components/layouts/main

include ../../components/ui-kit/headers-and-footers/footer/footer
include ../../components/ui-kit/headers-and-footers/header/header
include ../../components/ui-kit/logo/logo

block variables
  - title = 'BookingService Headers & Footers';
  - description = 'BookingService education project | Headers & Footers page';

block content

  +logo()

  +header()
  .headers-and-footers
    +header({ loginStatus: 'authentificated' })
  .headers-and-footers
    +footer()
  .headers-and-footers
    .responsive-footer-container
      +footer({ footerType: 'mobile' })
