@import '../../../../../assets/scss/utils/vars.scss';
@import '../../../../../assets/scss/utils/mixins.scss';

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-img {
    width: rem(40);
    height: rem(40);
    margin-right: rem(12);
  }

  &-name {
    height: rem(14);
  }
}
