@import '../../../../../assets/scss/utils/vars.scss';
@import '../../../../../assets/scss/utils/mixins.scss';


.booking__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: rem(19);
}
.booking__caption-right {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-family: $secondFont;
  margin-top: 5px;
}
.booking__caption-number {
  display: flex;
  flex-direction: row;
  font-family: $secondFont;
  line-height: rem(17);
  color: $DarkShade100;
}
.booking__caption-symbol {
  font-size: rem(14);
  align-self: flex-end;
  margin: 0 0 rem(5) rem(-1);
}
.booking__caption-room-number {
  font-size: rem(24);
  font-weight: bold;
  color: $DarkShade100;
  margin-left: rem(3);
}
.booking__caption-status {
  align-self: flex-end;
  font-size: rem(12);
  line-height: rem(15);
  text-transform: uppercase;
  color: $purple;
  margin-bottom: rem(4);
}
.booking__caption-left {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  font-family: $secondFont;
  font-weight: bold;
  font-size: rem(14);
  line-height: rem(18);
  color: $DarkShade50;
  margin-top: rem(9);
}
.booking__caption-price {
  font-weight: bold;
}
.booking__caption-text {
  font-weight: normal;
  font-size: rem(12);
  margin-left: rem(3);
}