@import '../../../../../assets/scss/utils/vars.scss';
@import '../../../../../assets/scss/utils/mixins.scss';

.booking__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: rem(19);
}

.booking__caption-right {
  display: flex;
  flex-direction: row;
  margin-top: rem(5);
  font-weight: bold;
  font-family: $secondFont;
}

.booking__caption-number {
  display: flex;
  flex-direction: row;
  color: $DarkShade100;
  font-family: $secondFont;
  line-height: rem(17);
}

.booking__caption-symbol {
  align-self: flex-end;
  margin: 0 0 rem(5) rem(-1);
  font-size: rem(14);
}

.booking__caption-room-number {
  margin-left: rem(3);
  color: $DarkShade100;
  font-weight: bold;
  font-size: rem(24);
}

.booking__caption-status {
  align-self: flex-end;
  margin-bottom: rem(4);
  color: $purple;
  font-size: rem(12);
  line-height: rem(15);
  text-transform: uppercase;
}

.booking__caption-left {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: rem(9);
  color: $DarkShade50;
  font-weight: bold;
  font-size: rem(14);
  font-family: $secondFont;
  line-height: rem(18);
}

.booking__caption-price {
  font-weight: bold;
}

.booking__caption-text {
  margin-left: rem(3);
  font-weight: normal;
  font-size: rem(12);
}
