mixin booking-caption(params = {})
  -
    const {
      roomNumber = '',
      roomStatus = '',
      roomPrice = '',
      captionType = 'room-card',
      link = ''
    } = params

  if (captionType === 'booking')
    - margin = 'booking__caption_margin'
    - fontSize = 'booking__caption-room-number_font-size'
  if (captionType === 'room-card')
    - margin = 'room-card__room-number_margin'
    - fontSize = 'room-card__room-number_font-size'

  a(class = `booking__caption ${margin}` href = link)
    .booking__caption_positon_left
      h1.booking__caption-number
        span.booking__caption-symbol №
        span.booking__caption-room-number(class = fontSize)= roomNumber
      .booking__caption-status= roomStatus
    .booking__caption_positon_right
      span.booking__caption-price
        strong= roomPrice
      span.booking__caption-text в сутки
