mixin booking-caption(params)
  if (params.captionType === 'booking')
    - var margin   = 'booking__caption_margin'
    - var fontSize = 'booking__caption-room-number_font-size'
  if (params.captionType === 'room-card')
    - var margin   = 'room-card__room-number_margin'
    - var fontSize = 'room-card__room-number_font-size'

  .booking__caption(class= margin)
    .booking__caption-right
      h1.booking__caption-number
        span.booking__caption-symbol №
        span.booking__caption-room-number(class=fontSize)= params.roomNumber
      .booking__caption-status=params.roomStatus
    .booking__caption-left
      p.booking__caption-price=params.roomPrice
      p.booking__caption-text в сутки


//- example
//- +booking-caption({roomNumber: "888",
//-                   roomStatus: "Люкс",
//-                   roomPrice:  "9 990₽",})

//- usage in other mixin example
//- +booking-caption({  roomNumber:  params.number,
//-                     roomStatus:  params.status,
//-                     roomPrice:   params.price,
//-                     captionType: "room-card", // ("room-card" || "booking")
//-                 })