@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';


.room-search__caption {
  font-family: $secondFont;
  margin-bottom: rem(21);
}
.room-search__date-dropdown-margin {
  margin-bottom: rem(22);
}
.room-search__dropdown-guests-margin {
  margin-bottom: rem(31);
}