mixin room-search(params)
  .room-search.cards-border
    h1.room-search__caption=params.caption

    .room-search__date-dropdown-margin
      include ../../../ui-kit/form-elements/date-dropdown/date-dropdown
      +date-dropdown({startDateCaption: 'прибытие',
                    endDateCaption:     'выезд',
                    startInpId:         'startDate',
                    endInpId:           'endDate',})

    .room-search__dropdown-guests-margin
      include ../../../ui-kit/form-elements/dropdown-guests/dropdown-guests
      +dropdown-guests({leftCaption:   'гости',
                        idPrefix:      'drop-down',
                        idPostfix:     '-1',
                        selectionText: 'Сколько гостей',
                        expMenuStatus: 'visibility-hidden',
                      })

    include ../../../ui-kit/form-elements/buttons/buttons
    +button({link: 'change_me', mod: ['with_arrow','block'], value: 'Подобрать номер'})