@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.room-search {
  &__caption {
    margin-bottom: rem(21);
    font-family: $secondFont;

    @media screen and (max-width: $phoneWidth) {
      font-size: 5.5vw;
    }
  }

  &__date-dropdown-margin {
    margin-bottom: rem(22);
  }

  &__dropdown-guests-margin {
    margin-bottom: rem(31);
  }
}
