mixin room-search(params)
  .room-search.cards_border
    h1.room-search__caption Найдём номера под ваши пожелания

    .room-search__date-dropdown-margin
      include ../../../ui-kit/form-elements/dropdown-date/dropdown-date
      +dropdown-date({startDateCaption: 'прибытие',
                      endDateCaption:   'выезд',
                      startInpId:       'startDate',
                      endInpId:         'endDate',
                     })

    .room-search__dropdown-guests-margin
      include ../../../ui-kit/form-elements/dropdown/dropdown
      +dropdown({ leftCaption:   'гости',
                  id:            'dropdown-guests',
                  selectionText: 'Сколько гостей',
                  expMenuStatus: 'hidden',
                })

    include ../../../ui-kit/form-elements/buttons/buttons
    +button({link: 'change_me', mod: ['with_arrow','block'], value: 'Подобрать номер'})