include ../../../ui-kit/form-elements/button/button
include ../../../ui-kit/form-elements/dropdown/dropdown
include ../../../ui-kit/form-elements/dropdown-date/dropdown-date

mixin room-search(params)
  .room-search
    h1.room-search__caption Найдём номера под ваши пожелания

    form.js-room-search-form(action = "#change-me")
      .room-search__date-dropdown-margin
        +dropdown-date({
          startDateCaption: "прибытие",
          endDateCaption: "выезд",
        })

      .room-search__dropdown-guests-margin
        +dropdown({
          leftCaption: "гости",
          type: "dropdown-guests",
          selectionText: "Сколько гостей",
          expMenuHidden: "true",
          formPart: "true",
        })

      .room-search__submit-button
        +button({
          mod: ["with_arrow", "block"],
          value: "Подобрать номер",
          type: "submit",
        })
