mixin rate-button(params)
  .rate-buttons
    each value in [5,4,3,2,1]
      if value == params.starsCount
        input.rate-button__inp(type='radio' checked name= params.rateBtnName id= params.rateBtnId+value)
      else
        input.rate-button__inp(type='radio' name= params.rateBtnName id= params.rateBtnId+value)
      label.rate-button__star(for= params.rateBtnId+value)

//- example
//- +rate-button({rateBtnName: 'rateBtnName-1',
//-               rateBtnId:   'rateBtnId-1',
//-               starsCount:  '5'})