@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.rate-buttons {
  display: flex;
  transform: rotateY(180deg);
}

.rate-button-inp {
  display: none;
}

.rate-button-star {
  display: block;
  color: transparent;
  font-size: rem(24);
  font-family: 'Material Icons';
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-clip: text;
  cursor: pointer;
}

.rate-button-star::before {
  position: relative;
  content: 'star_border';
}

.rate-button-star::after {
  position: absolute;
  top: rem(0);
  display: block;
  color: transparent;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-clip: text;
  opacity: 0;
  content: 'star';
}

.rate-button-star:hover::after,
.rate-button-star:hover ~ .rate-button-star::after,
.rate-button-inp:checked ~ .rate-button-star::after {
  opacity: 1;
}
