mixin rate-button(params)
  .radio-button
    each value in [1,2,3,4,5]
      input.rate-button__inp(type='radio' name= params.rateBtnName id= params.rateBtnId+value)
      if value <= params.starsCount
        label.rate-button__star(for= params.rateBtnId+value)
      else
        label.rate-button__star_border(for= params.rateBtnId+value)


//- example
//- +rate-button({rateBtnName: 'rateBtnName-1',
//-               rateBtnId:   'rateBtnId-1',
//-               starsCount:  '5'})