@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.rate-buttons {
  display: flex;
  transform: rotateY(180deg);
}

@mixin font-size-and-family {
  font-size: rem(24);
  font-family: 'Material Icons';
}

@mixin star-style {
  display: block;
  color: transparent;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-clip: text;
}

.rate-button-star {
  @include font-size-and-family;

  &::after {
    @include star-style;

    content: 'star';
  }

  &-border {
    @include font-size-and-family;

    &::after {
      @include star-style;

      content: 'star_border';
    }
  }
}