mixin rate-button(params = {})
  -
    const {
      rateBtnName = 'rateBtnName-1',
      rateBtnId = 'rateBtnId-1',
      starsCount = '4',
    } = params

  .rate-buttons
    each value in [5, 4, 3, 2, 1]
      if value <= starsCount
        span.rate-button-star

      else
        span.rate-button-star-border
