- var copyrightText = 'Copyright © 2018 Toxin отель. Все права зачищены.'

include ../headers/header_logo/header_logo.pug

mixin footer(footerType)
  if footerType != 'mobile'
    .footer
      .container
        .grid-layout
          .grid-layout__logo
            +header_logo()
            p.footer__logo-p.footer__padding
              | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
          .grid-layout__col
            h3 Навигация
            ul.footer__nav
              li.footer__nav-li
                a.footer__nav-link(href="change_me") О нас
              li.footer__nav-li
                a.footer__nav-link(href="change_me") Новости
              li.footer__nav-li
                a.footer__nav-link(href="change_me") Служба поддержки
              li.footer__nav-li
                a.footer__nav-link(href="change_me") Услуги
          .grid-layout__col
            h3 О нас
            ul.footer__nav
              li.footer__nav-li
                a.footer__nav-link(href="change_me") О сервисе
              li.footer__nav-li
                a.footer__nav-link(href="change_me") Наша команда
              li.footer__nav-li
                a.footer__nav-link(href="change_me") Вакансии
              li.footer__nav-li
                a.footer__nav-link(href="change_me") Инвесторы
          .grid-layout__col
            h3 Служба поддержки
            ul.footer__nav
              li.footer__nav-li
                a.footer__nav-link(href="change_me") Соглашения
              li.footer__nav-li
                a.footer__nav-link(href="change_me") Сообщества
              li.footer__nav-li
                a.footer__nav-link(href="change_me") Связь с нами
          .grid-layout__form
            h3 Подписка
            .footer__nav
              p.footer__nav-p Получайте специальные предложения и новости сервиса
              include ../../form-elements/text-field/text-field
              +text-field({inpType:        'email',
                           inpName:        'email',
                           inpMode:        'email',
                           inpPlaceholder: 'Email',
                           inpId:          'Subscription',
                           isArrow:        'true'})
    .sub-footer
      .container.sub-footer__content
        .sub-footer__copyright
          p #{copyrightText}
        .sub-footer__socials
          a(href='change_me')
            i.fab.fa-twitter.gradient-icon
          a(href='change_me')
            i.fab.fa-facebook.gradient-icon
          a(href='change_me')
            i.fab.fa-instagram.gradient-icon
  
  //- mobile footer
  else
    .footer.footer__mob
      .container
        .grid-layout
          .grid-layout__logo.grid-layout__logo_mob
            +header_logo()
    .sub-footer.sub-footer__mob
      .container.sub-footer__content.sub-footer__content_mob
        .sub-footer__copyright
          p #{copyrightText}
        .sub-footer__socials.sub-footer__socials_mob
          a(href='change_me')
            i.fab.fa-twitter.gradient-icon
          a(href='change_me')
            i.fab.fa-facebook.gradient-icon
          a(href='change_me')
            i.fab.fa-instagram.gradient-icon
