@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.footer {
  display: flex;
  height: rem(376);
  padding-top: rem(102);
  font-weight: normal;
  font-family: $secondFont;
  font-style: normal;
  background-color: $default-color;
  border-top: rem(1) solid rgba(223, 222, 227, 1);
  border-bottom: rem(1) solid rgba(223, 222, 227, 1);

  @media screen and (max-width: $phoneWidth) {
    padding-top: 0;
  }

  &__logo-p {
    color: $DarkShade75;
    line-height: rem(24);
  }

  &__padding {
    padding-top: rem(17);
  }

  &__nav {
    padding-top: rem(21);
    color: $DarkShade50;
  }

  &__nav-li {
    padding-bottom: rem(18);
  }

  &__nav-link:hover {
    color: $DarkShade75;
  }

  &__nav-p {
    margin-bottom: rem(19);
    line-height: rem(22);
  }

  &__nav-input {
    width: 100%;
    margin-top: rem(25);
    padding: rem(12) rem(10) rem(12) rem(14);
    font-family: $secondFont;
    border: rem(1) solid $DarkShade25;
    border-radius: rem(4);
  }
}

// sub-footer
.sub-footer {
  display: flex;
  align-items: center;
  height: rem(70);
  background-color: $default-color;

  @media (max-width: $phoneWidth) {
    height: rem(140);
  }

  @media (min-width: $phoneWidth) and (max-width: $smDesktopWidth) {
    height: rem(207);
  }

  &__content {
    justify-content: space-between;
  }

  &__copyright {
    display: flex;
    margin-top: rem(3);
    color: $DarkShade75;
    font-weight: normal;
    font-family: $secondFont;
    text-align: center;
  }

  // mobile
  &__mob {
    align-items: flex-start;
    height: rem(207);
  }

  &__content_mob {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(15);
  }

  &__socials_mob {
    margin-top: rem(14);
  }
  // mobile end
}

//sub-footer__socials
.sub-footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: rem(111);
  font-size: rem(24);
}

.fab {
  font-size: rem(24);
  font-family: 'Font Awesome 5 Brands', sans-serif;
  font-style: normal;
}

.fa-twitter::before {
  content: '\f099';
}

.fa-facebook::before {
  content: '\f09a';
}

.fa-instagram::before {
  content: '\f16d';
}

.gradient-icon {
  background: $primaryGradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
//sub-footer__socials end
// sub-footer end

// grid
.grid-layout {
  display: grid;
  grid-column-gap: rem(40);
  grid-template-columns: repeat(12, 1fr);
  width: 100%;

  @media screen and (max-width: $desktopWidth) {
    grid-column-gap: rem(10);
  }

  @media screen and (max-width: $smDesktopWidth) {
    grid-template-columns: 1fr;
  }

  &__logo {
    grid-column: span 3;
  }

  &__col {
    grid-column: span 2;
    padding-top: rem(3);
  }

  &__form {
    grid-column: span 3;
    padding-top: rem(3);
  }
}

// mobile
.grid-layout__logo_mob {
  display: grid;
  grid-column: span 12;
  align-items: flex-start;
  justify-items: center;
  margin-top: rem(19);
}

.footer__mob {
  height: auto;
  border-bottom: none;
}
// mobile end

@media screen and (max-width: $smDesktopWidth) {
  .grid-layout {
    &__logo {
      display: grid;
      grid-column: span 12;
      align-items: flex-start;
      justify-content: center;
      justify-items: center;
      margin-top: rem(19);
    }
  }

  .grid-layout__col,
  .grid-layout__form,
  .footer__logo-p {
    display: none;
  }

  .footer {
    height: auto;
    border-bottom: none;
  }

  .sub-footer {
    align-items: flex-start;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: rem(15);
    }

    &__socials {
      margin-top: rem(17);
    }
  }
}
// grid end
