@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

$height: rem(44);
$height-small: rem(34);
$width: rem(99);
$padding: rem(15);
$padding-small-lr: rem(20);
$border-width: rem(2);
$arrow-fsz: rem(24);
$arrow-right: rem(11);
$backgroundBtnColor: $default-color;

.button {
  display: inline-block;
  min-width: $width;
  min-height: $height - $padding * 2;
  margin: 0;
  padding: $padding;
  color: $backgroundBtnColor;
  font-weight: bold;
  font-size: rem(12);
  font-family: $secondFont;
  line-height: $height - $padding * 2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  background: $primaryGradient;
  background-position: center;
  border: none;
  border-radius: rem(22);

  &:hover {
    opacity: 0.5;
  }

  &_hover {
    opacity: 0.5;
  }

  &_no-background {
    min-width: auto;
    padding: 0;
    color: $purple;
    background: $backgroundBtnColor;

    &:hover {
      color: $DarkShade50;
      opacity: 1;
    }

    &_hover {
      color: $DarkShade50;
    }
  }

  &_bordered {
    min-height: $height - $padding * 2 - $border-width * 2;
    color: $purple;
    line-height: $height - $padding * 2 - $border-width * 2;
    background: none;
    background-image: linear-gradient($backgroundBtnColor, $backgroundBtnColor), $primaryGradient;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: $border-width solid transparent;

    &:hover {
      background-clip: padding-box, border-box;
      background-origin: border-box;
      border: $border-width solid transparent;
      opacity: 0.5;
    }
  }

  &_small {
    min-width: unset;
    min-height: $height-small - $padding * 2;
    padding-right: $padding-small-lr;
    padding-left: $padding-small-lr;
    line-height: $height-small - $padding * 2;
  }

  &_small.button_bordered {
    min-width: unset;
    min-height: $height-small - $padding * 2 - $border-width * 2;
    padding-right: $padding-small-lr - $border-width;
    padding-left: $padding-small-lr - $border-width;
    line-height: $height-small - $padding * 2 - $border-width * 2;
  }

  &_block {
    display: flex;
    width: 100%;
  }

  &_with_arrow {
    position: relative;
    justify-content: center;

    &::after {
      position: absolute;
      top: 50%;
      right: $arrow-right;
      display: inline-block;
      font-weight: normal;
      font-size: rem(24);
      font-family: 'Material Icons', sans-serif;
      font-style: normal;
      line-height: 1;
      direction: ltr;
      letter-spacing: normal;
      white-space: nowrap;
      text-transform: none;
      word-wrap: normal;
      transform: translateY(-50%);
      content: 'arrow_forward';
    }
  }
}
