@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

$height: 44px;
$height-small: 34px;
$width: 99px;
$padding: 15px;
$padding-small-lr: 20px;
$border-width: 2px;
$arrow-fsz: 24px;
$arrow-right: 11px;
$backgroundBtnColor: #fff;

.button {
  margin: 0;
  display: inline-block;
  font-family: $secondFont;
  font-size: 12px;
  font-weight: bold;
  background: $primaryGradient;
  background-position: center;
  text-align: center;
  vertical-align: middle;
  min-height: $height - $padding * 2;
  min-width: $width;
  line-height: $height - $padding * 2;
  border-radius: 22px;
  border: none;
  color: $backgroundBtnColor;
  text-decoration: none;
  padding: $padding;
  text-transform: uppercase;
  &:hover {
    opacity: 0.5;
  }
  &_hover {
    opacity: 0.5;
  }
  &_no-background {
    background: $backgroundBtnColor;
    color: $purple;
    padding: 0;
    min-width: auto;
    &:hover {
      color: $DarkShade50;
      opacity: 1;
    }
    &_hover {
      color: $DarkShade50;
    }
  }
  &_bordered {
    background: none;
    color: $purple;
    min-height: $height - $padding * 2 - $border-width * 2;
    line-height: $height - $padding * 2 - $border-width * 2;
    border: $border-width solid transparent;
    background-image: linear-gradient($backgroundBtnColor, $backgroundBtnColor), $primaryGradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    &:hover {
      border: $border-width solid transparent;
      opacity: 0.5;
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }
  &_small {
    min-height: $height-small - $padding * 2;
    line-height: $height-small - $padding * 2;
    min-width: unset;
    padding-left: $padding-small-lr;
    padding-right: $padding-small-lr;
  }
  &_small.button_bordered {
    min-height: $height-small - $padding * 2 - $border-width * 2;
    line-height: $height-small - $padding * 2 - $border-width * 2;
    min-width: unset;
    padding-left: $padding-small-lr - $border-width;
    padding-right: $padding-small-lr - $border-width;
  }
  &_block {
    display: flex;
    width: 100%;
  }
  &_with_arrow {
    position: relative;
    justify-content: center;
    &:after {
      content: "arrow_forward";
      position: absolute;
      right: $arrow-right;
      top: 50%;
      transform:translateY(-50%);
      font-family: "Material Icons";
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
    }
  }
}