mixin button(params)
  -
    const link= params.link|| "change_me"
    const value = params.value|| 'Click me'
    let mod = params.mod

    if (mod !== undefined) {
      mod = mod.map((item) => `button_${item}`)
      classes = mod.join(' ')
    } else {
      classes = ""
    }
  a.button(href=link class=classes)=value

//- Buttons examples
//-   +button({link:"#", value:"Кнопка"})
//-   +button({value:"Кнопка"})
//-   +button({link:"#", value:"Кнопка", mod: ["bordered"]})
//-   +button({value:"Кнопка", mod: ["bordered"]})
//-   +button({link:"#", value:"Войти", mod: ["bordered","small"]})
//-   +button({value:"Кнопка", mod: ["bordered","small"]})
//-   +button({link:"#", value:"Зарегистрироваться", mod: ["small"]})
//-   +button({value:"Кнопка", mod: ["small"]})
//-   +button({value:"Очень большой текст", mod: ["small"]})
//-   +button({link:"#", value:"Кнопка", mod: ["block"]})
//-   +button({link:"#", value:"Кнопка", mod: ["bordered","block"]})
//-   +button({link:"#", value:"Кнопка", mod: ["bordered","small","block"]})
//-   +button({link:"#", value:"Кнопка", mod: ["small","block"]})
//-   +button({link:"#", value:"Кнопка", mod: ["with_arrow"]})

//-   +button({link:"#", value:"Подобрать номер", mod: ["with_arrow", "block"]})
//-   +button({link:"#", value:"Забронировать", mod: ["with_arrow", "block"]})
//-   +button({link:"#", value:"Забронировать", mod: ["with_arrow", "block", "bordered"]})
//-   +button({link: 'change_me', mod: ['no-background','no-background_hover']})
//-   +button({link: 'change_me', mod: ['with_arrow','block'], value: 'Перейти к оплате'})