@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.checkbox-buttons {
  display: flex;
  flex-direction: column;
  width: rem(230);
}
.checkbox-buttons__caption {
  margin-bottom: rem(16);
}
.checkbox-buttons__input {
  display: flex;
  margin-bottom: rem(11);
}
.checkbox-buttons__text {
  line-height: rem(18);
  font-family: $secondFont;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: flex-start;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  cursor: pointer;
  display: inline-block;
  align-items: flex-start;
  width: rem(20);
  height: rem(20);
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $DarkShade25;
  border-radius: rem(4);
  margin-right: rem(10);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: $purple;
  background-image: url("/assets/img/chkboxvector.svg");
  background-size: rem(12) rem(12);
}