@import '../../../../assets/scss/utils/vars.scss';

.checkbox-buttons {
  display: flex;
  flex-direction: column;
}
.checkbox-buttons__caption {
  margin-bottom: 16px;
}
.checkbox-buttons__input {
  display: flex;
  margin-bottom: 11px;
}
.checkbox-buttons__text {
  line-height: 18px;
  font-family: $secondFont;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: flex-start;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  cursor: pointer;
  display: inline-block;
  align-items: flex-start;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $DarkShade25;
  border-radius: 0.25rem;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: $purple;
  background-image: url("/assets/img/chkboxvector.svg");
}