mixin button(params = {})
  -
    const {
      link = '',
      mod = [],
      value = 'Click me',
      type = 'button',
      tIndex = '0',
    } = params

  - classes = ''
  if (mod)
    each item in mod
      - classes += ` button_${item}`

  if (link)
    a.button.js-button(
      tabindex = tIndex
      href = link
      class = classes
    )!= value
  else
    if (type === 'button' || type === 'submit')
      button.button.js-button(
        tabindex = tIndex
        class = classes
        type = type
      )!= value

//- Buttons examples
//- +button({ value: "Забронировать" })
//- +button({ link: "./registration.html", mod: ["bordered"], value: "Создать" })
//- +button({ value: "Зарегистрироваться", type: "submit" })
//- +button({ link: "./sign-in.html", mod: ["bordered"], value: "Войти" })
//- +button({ mod: ["bordered", "hover"] })
//- +button({ link: "./sign-in.html", mod: ["bordered", "small"], value: "Войти", tIndex: 10 })

//- +button({
//-   mod: ["with_arrow", "block"],
//-   value: '<img src="./assets/img/TOXIN.svg">',
//- })
