mixin button(params = {})
  -
    const {
      link = '',
      mod = [],
      value = 'Click me',
      type = 'button',
      tIndex = '0',
    } = params

  - classes = ''
  if (mod)
    each item in mod
      - classes += ` button_button_${item}`

  if (link)
    a.button.js-button(
      tabindex = tIndex
      href = link
      class = classes
    )!= value
  else
    if (type === 'button' || type === 'submit')
      button.button.js-button(
        tabindex = tIndex
        class = classes
        type = type
      )!= value
