@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';


.landing-page__background {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.landing-page__room-search_block-width {
  width: rem(380);
}
.landing-page__room-search_position {
  margin-top: rem(68);
}
.landing-page__img-text {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-align: right;
}
.landing-page__img-text_position {
  margin-top: rem(318);
  margin-bottom: rem(20);
}


//- background animation
@keyframes fade {
  0%    {opacity: 0;}
  15%   {opacity: 1;}
  35%   {opacity: 1;}
  55%   {opacity: 0;}
  100%  {opacity: 0;}
}
.landing-page__fade-in {
  animation-name: fade;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
.landing-page__fade-in:nth-child(1) { animation-delay: 0s; }
.landing-page__fade-in:nth-child(2) { animation-delay: 10s; }
.landing-page__fade-in:nth-child(3) { animation-delay: 20s; }
//- background animation end