@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.filter-date-dropdown {
  &__caption {
    margin-bottom: $inputCapMarBottom;
  }

  &__input-item {
    position: relative;
  }

  &__input,
  &__input::placeholder,
  &__input_arrow,
  &__expand-button {
    color: $DarkShade50;
  }

  &__input {
    position: relative;
    z-index: 3;
    padding: rem(12) rem(10) rem(12) rem(15);
    background: transparent;
    cursor: pointer;

    &::placeholder {
      opacity: 1;
    }

    &_arrow {
      position: absolute;
      top: rem(10);
      right: rem(10);
    }

    &:focus {
      box-shadow: $TabindexShadow;
    }
  }

  &__expand-button {
    width: rem(20);
    margin: rem(10) rem(0) rem(0) rem(10);
  }

  &_hidden {
    position: absolute;
    z-index: 20;
    display: none;
  }
}
