include ../filter-date-picker/filter-date-picker

mixin filter-date-dropdown(params = {})
  -
    const {
      leftCaption = 'даты пребывания в отеле'
    } = params

  .filter-date-dropdown.js-filter-date-dropdown
    .filter-date-dropdown__caption
      h3.filter-date-dropdown__caption-h3= leftCaption
    .filter-date-dropdown__input-item
      input.filter-date-dropdown__input.js-filter-date-dropdown__input(
        tabindex = "0"
        type = "text"
        placeholder = "Выберите даты"
        readonly
      )
      .filter-date-dropdown__input-arrow expand_more

    //- dropdown datepicker from "dropdown-date.js"
    .dropdown-date__date-picker.js-dropdown-date__date-picker.filter-date-dropdown_hidden
      +filter-date-picker()
