mixin filter-date-dropdown(params)
  .filter-date-dropdown
    .filter-date-dropdown__caption
      h3= params.leftCaption
    .filter-date-dropdown__input.input__style
      p.filter-date-dropdown__text 19 авг - 23 авг
      span.filter-date-dropdown__expand-button.material-icons expand_more


//- example
//- +filter-date-dropdown({leftCaption : 'filter date dropdown'})