@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';
@import '../../../../../node_modules/paginationjs/dist/pagination.css';

$size: rem(40);

.pagination {
  margin: 0 auto;
}

#pagination-container {
  display: inline-block;
  width: auto;
}

.paginationjs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: $secondFont;
}

.paginationjs .paginationjs-pages li {
  color: $DarkShade50;
  font-size: rem(12);
  line-height: $size;
  border-radius: $size / 2;
}

.paginationjs .paginationjs-pages li > a {
  color: $DarkShade50;
  font-size: rem(12);
  line-height: $size;
  border: none;
  border-radius: $size / 2;
}

.paginationjs .paginationjs-pages li > a,
.paginationjs .paginationjs-pages li > a:hover {
  text-align: center;
  background: transparent;
}

.paginationjs .paginationjs-pages li,
.paginationjs .paginationjs-pages li:last-child,
.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:first-child > a,
.paginationjs .paginationjs-pages li:last-child > a {
  border: none;
  border-radius: $size / 2;
}

.paginationjs-page,
.paginationjs-page .active,
.paginationjs-prev,
.paginationjs-next,
.paginationjs .paginationjs-pages li.active > a {
  box-sizing: border-box;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: $size / 2;
  cursor: pointer;
}

.paginationjs-page .active,
// .paginationjs .paginationjs-pages li > a,
.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:first-child > a {
  color: $DarkShade50;
  font-size: rem(12);
  line-height: $size;
  border-radius: $size / 2;
}

.paginationjs-prev,
.paginationjs-next {
  background: $secondaryGradient;
}

.paginationjs .paginationjs-pages li.active > a {
  color: $default-color;
  font-weight: bold;
  background: $primaryGradient;
}

.paginationjs-next::before,
.paginationjs-prev::before {
  margin-left: rem(8);
  color: $default-color;
  font-size: rem(22);
  font-family: 'Material Icons', sans-serif;
}

.paginationjs-next::before {
  content: 'arrow_forward';
}

.paginationjs-prev::before {
  content: 'arrow_backward';
}

.paginationjs-pages-footer {
  display: flex;
  justify-content: center;
  margin-top: rem(10);
  color: $DarkShade75;
  font-size: rem(14);
}
