.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  top: 0;
  z-index: 10;
  width: rem(44);
  height: 100%;
  font-size: 0;
}

$arrows-top: 42%;
$arrows-size: rem(40);

@mixin slick-slider-arrows {
  position: absolute;
  top: $arrows-top;
  width: $arrows-size;
  height: $arrows-size;
  background: url('/assets/img/expand_more.svg') 50% 50% / 30% no-repeat;
  content: '';
}

.slick-prev {
  left: 0;
  background:
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgba(255, 255, 255, 0) 100%
    );

  &::after {
    @include slick-slider-arrows;

    left: 0;
  }
}

.slick-next {
  right: 0;
  background:
    linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgba(255, 255, 255, 0) 100%
    );

  &::after {
    @include slick-slider-arrows;

    right: 0;
    transform: rotate(180deg);
  }
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  border-radius: $BorderRadius $BorderRadius 0 0;
  cursor: pointer;
}
