mixin range-slider(params = {})
  -
    const {
      leftCaption = 'диапазон цены',
      rightCaption = '5 000₽ - 10 000₽',
    } = params

  .range-slider
    .range-slider__caption
      h3.range-slider__caption_position_left= leftCaption
      h3.range-slider__caption_position_right= rightCaption

    input.range-slider__input(
      type = "text"
      class = "js-range-slider"
      name = "my_range"
      value = ""
    )