@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';
@import '../../../../../node_modules/ion-rangeslider/css/ion.rangeSlider.css';

$borderBgColor: $defaultColor;

.range-slider__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &_left {
    margin-right: rem(30);
  }

  &_right {
    font-weight: normal;
  }
}

/* rangeSlider.css */
.irs-min,
.irs-max,
.irs-single {
  display: none;
}

.irs-from,
.irs-to {
  display: none;
}

.irs--flat .irs-bar--single {
  border-radius: rem(4);
}

.irs-line {
  cursor: pointer;
}

.irs--flat .irs-line {
  top: rem(23);
  height: rem(7);
  background-color: $borderBgColor;
  border: rem(1) solid $DarkShade25;
  border-radius: rem(4);
}

.irs--flat .irs-bar {
  top: rem(23);
  height: rem(7);
  background: $secondaryGradient;
}

$size: rem(16);

.irs-handle {
  width: rem(10);
  height: rem(10);
  cursor: pointer;
}

.irs--flat .irs-handle {
  top: $size/2;
  width: rem(1);
  height: $size;
}

.irs--flat .irs-handle > i:first-child {
  position: absolute;
  top: 60%;
  display: block;
  width: $size;
  height: $size;
  background: $secondaryGradient;
  border: rem(2) solid $borderBgColor;
  border-radius: 50%;
  transform: translateX(-50%);
}

/* rangeSlider.css */
