mixin range-slider(params = {})
  -
    const {
      leftCaption = 'диапазон цены',
    } = params

  .range-slider
    .range-slider__caption
      h3.range-slider__caption_position_left= leftCaption
      h3.range-slider__caption_position_right.js-range-slider__caption-right

    input.range-slider__input(
      type = "text"
      class = "js-range-slider"
      name = "my_range"
      value = ""
    )