@import '../../../../../assets/scss/utils/vars.scss';
@import '../../../../../assets/scss/utils/mixins.scss';

.feedbacks {
  display: flex;
  flex-direction: row;

  &__number {
    margin-right: rem(4);
    font-weight: bold;
  }
}
