@import '../../../../../assets/scss/utils/vars.scss';
@import '../../../../../assets/scss/utils/mixins.scss';

.feedbacks {
  display: flex;
  flex-direction: row;

  &__number {
    margin-right: rem(4);
  }

  &__number,
  &__text {
    font-family: $secondFont;
    color: $DarkShade50;
  }
}
