@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.navpagemenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: rem(24);
}

.navpagemenu__header{
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.navigation__link{
  color: #808080;
  &:hover{
    color: #000;
  } 
}