@import '../../../assets/scss/utils/vars.scss';
@import '../../../assets/scss/utils/mixins.scss';

.nav-page-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: rem(24);
}

.nav-page-menu__header {
  margin-top: 5%;
  margin-bottom: 2%;
}

.navigation__link {
  color: #808080;

  &:hover {
    color: #000;
  }
}
