mixin button(params)
  -
    const defaultclass = 'button'
    const link= params.link|| undefined
    const value = params.value|| 'Click me'
    let mod = params.mod
    if(mod !== undefined){
      mod = mod.map((item)=> `${defaultclass}_${item}`)
      classes = mod.join(' ')
      }  else {
      classes = ""
      }
  if(link!== undefined)
    a.button(href="link" class=classes)=value
  else
    button.button(class=classes)=value