include ../headers/header_logo/header_logo.pug

mixin footer()
  .footer
    .container
      .grid_layout
        .grid_layout-logo
          +header_logo()
          p.footer__logo-p.footer__padding
            | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .grid_layout-list
          h3 Навигация
          ul.footer__nav
            li.footer__nav-li
              a.footer__nav-link(href="change_me") О нас
            li.footer__nav-li
              a.footer__nav-link(href="change_me") Новости
            li.footer__nav-li
              a.footer__nav-link(href="change_me") Служба поддержки
            li.footer__nav-li
              a.footer__nav-link(href="change_me") Услуги
        .grid_layout-list
          h3 О нас
          ul.footer__nav
            li.footer__nav-li
              a.footer__nav-link(href="change_me") О сервисе
            li.footer__nav-li
              a.footer__nav-link(href="change_me") Наша команда
            li.footer__nav-li
              a.footer__nav-link(href="change_me") Вакансии
            li.footer__nav-li
              a.footer__nav-link(href="change_me") Инвесторы
        .grid_layout-list
          h3 Служба поддержки
          ul.footer__nav
            li.footer__nav-li
              a.footer__nav-link(href="change_me") Соглашения
            li.footer__nav-li
              a.footer__nav-link(href="change_me") Сообщества
            li.footer__nav-li
              a.footer__nav-link(href="change_me") Связь с нами
        .grid_layout-form
          h3 Подписка
          .footer__nav
            p.footer__nav-p Получайте специальные предложения и новости сервиса
            input.footer__nav-input(type='email' name='subscribe' inputmode='email' placeholder='Email' id='footer_email_input')
            //- TODO проверить другие градиенты / вынести в отдельный класс
            .input__arrow-forward
              label#footer_email_input.material-icons.gradient-icon arrow_forward
  .subfooter
    .container.subfooter__content
      .subfooter__copyright
        p Copyright © 2018 Toxin отель. Все права зачищены.
      .subfooter__socials
        a(href='change_me')
          i.fab.fa-twitter.gradient-icon
        a(href='change_me')
          i.fab.fa-facebook.gradient-icon
        a(href='change_me')
          i.fab.fa-instagram.gradient-icon