mixin registration(params)
  .registration.cards_border
    h1.registration__caption Регистрация аккаунта

    .registration__text-field_position
      include ../../../ui-kit/form-elements/text-field/text-field
      +text-field({inpType:        'text',
                   inpName:        'text',
                   inpMode:        'test',
                   inpPlaceholder: 'Имя',
                   inpId:          'user-name',
                  })

    include ../../../ui-kit/form-elements/text-field/text-field
    +text-field({inpType:         'text',
                  inpName:        'text',
                  inpMode:        'test',
                  inpPlaceholder: 'Фамилия',
                  inpId:          'user-last-name',
                })

    .registration__radio-buttons_position
      include ../../../ui-kit/form-elements/radio-buttons/radio-buttons
      +radio-buttons({formActionName:  'form-action.php',
                      radioButtonName: 'radio-button',
                      inpName:         ['man',    'woman'],
                      inpText:         ['Мужчина','Женщина'],
                      inpStatus:       ['checked',]})

    include ../../../ui-kit/form-elements/masked-text-field/masked-text-field
    +masked-text-field({leftCaption:    'Дата рождения',
                        inpId:          'masked-date-field',
                        inpName:        'date',
                        inpPlaceholder: 'ДД.ММ.ГГГГ'})

    .registration__text-field_block-position
      +text-field({leftCaption:   'Данные для входа в сервис',
                  inpType:        'email',
                  inpName:        'email',
                  inpMode:        'email',
                  inpPlaceholder: 'Email',
                  inpId:          'email',
                  })
    .registration__text-field_block-margin-between
      +text-field({inpType:       'password',
                  inpName:        'password',
                  inpMode:        'password',
                  inpPlaceholder: 'Пароль',
                  inpId:          'password',
                  })

    .registration__toggle_position
      include ../../../ui-kit/form-elements/toggle/toggle
      +toggle({toggleId:     'toggle-button1',
              toggleBtnText: 'Получать спецпредложения',
              })

    include ../../../ui-kit/form-elements/buttons/buttons
    +button({link: 'change_me', mod: ['with_arrow','block'], value: 'Перейти к оплате'})

    .registration__enter-button-block_position
      .registration__enter-button-block
        p.registration__enter-button-text Уже есть аккаунт на Toxin
        +button({link: 'sign-in.html', mod: ['bordered'], value: 'Войти'})
