include ../../../ui-kit/form-elements/button/button
include ../../../ui-kit/form-elements/masked-text-field/masked-text-field
include ../../../ui-kit/form-elements/radio-buttons/radio-buttons
include ../../../ui-kit/form-elements/text-field/text-field
include ../../../ui-kit/form-elements/toggle/toggle

mixin registration(params)
  .registration.cards_border
    h1.registration__caption Регистрация аккаунта

    form.js-registration-form(action="#change-me")
      .registration__name
        +text-field({
          inpType: "text",
          inpName: "firstName",
          inpPlaceholder: "Имя",
        })

      +text-field({
        inpType: "text",
        inpName: "lastName",
        inpPlaceholder: "Фамилия",
      })

      .registration__gender
        +radio-buttons(
          "",
          "gender",
          [
            { value: 'Мужчина', isChecked: 'true' },
            { value: 'Женщина' }
          ]
        )

      +masked-text-field({
        leftCaption: "Дата рождения",
        inpName: "birthDate",
        inpPlaceholder: "ДД.ММ.ГГГГ",
      })

      .registration__email
        +text-field({
          leftCaption: "Данные для входа в сервис",
          inpType: "email",
          inpName: "email",
          inpPlaceholder: "Email",
        })

      .registration__password
        +text-field({
          inpType: "password",
          inpName: "password",
          inpPlaceholder: "Пароль",
        })

      .registration__special-offers
        +toggle({
          toggleBtnText: "Получать спецпредложения",
          toggleName: "specialOffers",
          toggleId: "registration-toggle",
        })

      +button({
        mod: ["with_arrow", "block"],
        value: "Зарегистрироваться",
        type: "submit",
        class: "js-registration-submit-button",
      })

    .registration__enter-button
      p.registration__enter-button-text Уже есть аккаунт на Toxin
      +button({
        link: "./sign-in.html",
        mod: ["bordered"],
        value: "Войти",
      })
