mixin masked-text-field(params = {})
  -
    const {
      leftCaption = "Дата рождения",
      inpName = "birthDate",
      inpPlaceholder = "ДД.ММ.ГГГГ",
    } = params

  .masked-text-field
    .masked-text-field__caption
      h3.masked-text-field__caption_position_left= leftCaption
    input.masked-text-field__input.js-masked-text-field__input(
      type = "text"
      name = inpName
      placeholder = inpPlaceholder
    )
