@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';

.masked-text-field {
  &__caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $inputCapMarBottom;

    &_position_left {
      display: flex;
      justify-self: flex-start;
    }
  }

  &__input {
    padding: rem(13) rem(10) rem(12) rem(15);
    color: $DarkShade75;
    text-transform: uppercase;
  
    @include input-style;
  
    &::placeholder {
      color: $DarkShade25;
    }
  
    &:hover {
      @include like-hover;
    }
  }
}
