mixin masked-text-field(params)
  .masked-text-field__caption
    h3.masked-text-field__caption-left= params.leftCaption
  input.masked-text-field__input.input__style(type='text' id=params.inpId name=params.inpName placeholder=params.inpPlaceholder)


//- examples
//-
//- +masked-text-field({leftCaption:    'masked text field',
//-                     inpId:          'masked-date-field',
//-                     inpName:        'date',
//-                     inpPlaceholder: 'ДД.ММ.ГГГГ'})
