@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';
@import '../../../../../node_modules/air-datepicker/dist/css/datepicker.min.css';

.datepicker-inline .datepicker {
  box-sizing: border-box;
  min-width: rem(320);
  box-shadow: rem(0) rem(10) rem(20) $DarkShade5;

  @media (max-width: $phoneWidth) {
    min-width: rem(260);
  }
}

.datepicker--nav {
  min-height: rem(70);
  border-bottom: none;

  @media (max-width: $phoneWidth) {
    width: rem(250);
  }
}

.datepicker--nav-action {
  width: rem(40);
}

.datepicker--nav-title {
  max-width: rem(150);
  margin-top: rem(-7);
  font-weight: bold;
  font-size: rem(19);
  font-family: $secondFont;
  line-height: rem(25);
}

.datepicker--nav-title,
.datepicker--nav-title i {
  color: $DarkShade100;
}

.datepicker--nav-action svg {
  display: none;
}

.datepicker--nav-action[data-action='prev']::after {
  margin-left: rem(14);
  content: 'arrow_back';
}

.datepicker--nav-action[data-action='next']::after {
  margin-right: rem(14);
  content: 'arrow_forward';
}

.datepicker--nav-action::after {
  display: inline-block;
  width: rem(25);
  margin-top: rem(-7);
  color: $purple;
  font-weight: normal;
  font-size: rem(24); /* Preferred icon size 24px */

  //- .material-icons main.scss
  font-family: 'Material Icons', sans-serif;
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  vertical-align: middle;
  word-wrap: normal;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  //-
}

.datepicker--content {
  padding: rem(4) rem(20);

  @media (max-width: $phoneWidth) {
    width: rem(220);
  }
}

.datepicker--days-names {
  margin-bottom: rem(16);
  font-weight: bold;
  font-family: $secondFont;
}

.datepicker--day-name {
  color: $purple;
  font-size: rem(12);
  text-transform: none;
}

.datepicker--cell {
  height: rem(39);
  color: $DarkShade50;
  font-size: rem(12);
  font-family: $secondFont;

  @media (max-width: $phoneWidth) {
    height: rem(30);
  }
}

.datepicker--buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(7);
  border: none;

  @media (max-width: $phoneWidth) {
    width: rem(250px);
  }
}

.datepicker--button {
  flex: none;
  margin-top: rem(6);
  padding: 0 rem(15);
  color: $purple;
  font-weight: bold;
  font-size: rem(12);
  font-family: $secondFont;
  text-transform: uppercase;
}

.datepicker--cell.-range-from-,
.datepicker--cell.-range-to-,
.datepicker--cell.-current- {
  position: relative;
  border-radius: 50%;
}

.datepicker--cell.-range-from-::after {
  position: absolute;
  left: 50%;
  z-index: -10;
  width: 50%;
  height: 100%;
  background: transparent;
  background: $primaryGradient;
  opacity: 0.25;
  content: '';
}

.datepicker--cell.-range-to-::after {
  position: absolute;
  right: 50%;
  z-index: -10;
  width: 50%;
  height: 100%;
  background: transparent;
  background: $primaryGradient;
  opacity: 0.25;
  content: '';
}

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-focus-,
.datepicker--cell.-selected-.-current- {
  color: $default-color;
  background: $primaryGradient;
}

.datepicker--cell.-range-from-,
.datepicker--cell.-range-to- {
  font-weight: bold;
  background-color: none;
  border: none;
}

.datepicker--cell.-current-,
.datepicker--cell.-current-.-in-range- {
  color: $default-color;
  font-weight: bold;
  background: $secondaryGradient;
}

.datepicker--cell.-in-range-::after {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: $primaryGradient;
  opacity: 0.25;
  content: '';
}

.datepicker--cell.-in-range- {
  color: $DarkShade50;
  background: none;
}

@media (max-width: $phoneWidth) {
  .datepicker--cells {
    width: rem(220);
  }

  .datepicker--body.active {
    width: rem(220);
  }

  .date-picker {
    width: rem(250);
  }
}
