@import '../../../../assets/scss/utils/vars.scss';
@import '../../../../assets/scss/utils/mixins.scss';
@import '../../logo/logo.scss';

.header {
  display: flex;
  align-items: center;
  max-width: $xlDesktopWidth;
  height: rem(70);
  background-color: $defaultColor;
  box-shadow: rem(0) rem(10) rem(20) rgba(31, 32, 65, 0.05);

  @media screen and (max-width: $smDesktopWidth) {
    &__auth-buttons {
      padding: rem(10) 0;
    }
  }

  @mixin header__expand-menu {
    display: block;
    flex-direction: row;

    @media screen and (max-width: $smDesktopWidth) {
      display: flex;
      flex-direction: column;
      width: 100%;
      background: $defaultColor;
    }
  }

  &__container {
    @include container;

    z-index: 30;
    height: rem(40);

    @media screen and (max-width: $smDesktopWidth) {
      display: flex;
      flex-direction: column;
    }
  }

  &__burger {
    @include material-icons;

    display: none;
    color: $DarkShade50;
    font-size: rem(40);
    cursor: pointer;

    @media screen and (max-width: $smDesktopWidth) {
      display: block;
      justify-content: flex-end;

      &-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &__logo {
    @include logo;
  }

  // nav
  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    @media screen and (max-width: $smDesktopWidth) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      box-shadow: 0 1px 2px $DarkShade75;
    }

    @media screen and (max-width: $smDesktopWidth) {
      &-li {
        width: 100%;
        text-align: center;
      }
    }

    &-links {
      @include header__expand-menu;

      display: flex;
      justify-content: space-between;
      width: rem(446);
      line-height: rem(17);

      @media screen and (max-width: $smDesktopWidth) {
        width: 100%;
      }
    }

    &-li {
      cursor: pointer;
    }

    &-li:hover {
      color: $DarkShade75;
      font-weight: bold;

      @media screen and (max-width: $smDesktopWidth) {
        background: $menuHoverColor;
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $DarkShade50;
      font-weight: normal;
      font-family: $secondFont;
      line-height: rem(50);
      cursor: pointer;

      &:focus {
        color: $DarkShade75;
        font-weight: bold;
        // text-shadow: $TabindexShadow;
      }

      &_active,
      &:hover {
        color: $DarkShade75;
        font-weight: bold;
      }

      &::before {
        position: relative;
        display: block;
        height: 0;
        overflow: hidden;
        font-weight: bold;
        visibility: hidden;
        content: attr(data-text);
        content: attr(data-text) / "";
        user-select: none;
        pointer-events: none;
      }
    }

    &-expand-more {
      @include material-icons;

      color: $DarkShade50;
    }

    &-li:hover &-expand-more {
      color: $DarkShade75;
    }

    &-li:focus &-link {
      color: $DarkShade75;
      font-weight: bold;
      // TODO text-shadow: $TabindexShadow;
    }

    &-dropdown {
      position: relative;
      display: flex;
      align-items: center;

      &-content {
        position: absolute;
        z-index: 20;
        background: $menuHoverColor;
        background-color: $defaultColor;
        box-shadow: 0 2px 3px black;

        @media screen and (max-width: $smDesktopWidth) {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  // nav end

  &__authentification {
    @include header__expand-menu;
  }

  // authentification
  &__authentificated {
    display: flex;
    justify-content: flex-end;
    width: rem(120);
    margin-left: rem(21);
    color: $DarkShade50;
    font-family: $secondFont;
    border-left: rem(1) solid #f4f3f6;

    // &:focus {
    //   text-shadow: $TabindexShadow;
    // }

    @media screen and (max-width: $smDesktopWidth) {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-self: flex-start;
      margin-left: 0;
    }
  }

  &__not-authentificated {
    display: flex;
    justify-content: flex-end;
    margin-left: rem(19);

    @media screen and (max-width: $smDesktopWidth) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
  }

  &__auth-buttons:last-child {
    margin-left: rem(21);

    @media screen and (max-width: $smDesktopWidth) {
      margin-left: 0;
    }
  }
  // authentification end

  &__dropdown-link {
    display: inline-block;
    width: 100%;
    padding: 15px 30px;
    color: $DarkShade75;
    font-weight: normal;
    background: $defaultColor;

    &:focus,
    &:hover {
      font-weight: bold;
      background: $menuHoverColor;
    }

    @media screen and (max-width: $smDesktopWidth) {
      width: 100%;
    }
  } /* header dropdown end */
}
